@import '../../../sass/abstracts/variables.scss';

#manager
{
    background: $manager-background !important;
    padding: 32px 0 80px;
    min-height: 100vh;
    
    .responsive-container
    {
        max-width: 700px;
    }

    .top
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 8px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 24px;
        
        & > div h2
        {
            line-height: 1.2 !important;
            font-size: 26px !important;
            margin-right: 20px !important;
        }
        .superTitle
        {
            font-size: 12px;
            font-weight: 600;
            color: $black-50;
            margin-left: 1px;
        }
        .logout
        {
            flex-shrink: 0;
            margin-bottom: 4px;
        }
    }

    section
    {
        margin-bottom: 20px;
        overflow: hidden;
        
        & > .titleContainer
        {
            padding: 16px 20px 16px 16px;
            border-bottom: 1px solid $border-color;
            background-color: #fff;
            cursor: pointer;
            transition: 0.16s background-color;

            .buttons > div
            {
                margin-left: 12px;
            }
            .icon-arrow-down
            {
                padding-top: 2px;
                opacity: 0.32;
                transform: translate(0,2px);
                transition: all 0.2s ease;
            }
            
            &:hover
            {
                background-color: $row-hover;
            }
        }
        & > .content
        {
            padding: 0 16px;
            height: auto;
            max-height: 0;
            overflow: hidden;
            
            transition: 0.2s all;
        }
        
        &.expanded
        {
            & > .titleContainer .buttons .icon-arrow-down
            {
                transform: rotate(180deg);
            }
            & > .content
            {
                padding: 16px 16px 20px;
                max-height: 999999px;
            }
        }
        &.notExpandible
        {
            & > .titleContainer
            {
                cursor: default;
                
                &:hover
                {
                    background-color: #fff;
                }
            }
            & > .content
            {
                padding: 16px 16px 20px;
                max-height: 999999px;
            }
        }
        
        &:last-child
        {
            margin-bottom: 0;
        }
    }

    #categories
    {
        .categoriesContainer
        {
            .category
            {
                margin-right: 8px;
                margin-bottom: 8px;
            }
        }
        & > .line-separator
        {
            margin: 4px 0 16px;
        }
        
        .quillEditorContainer
        {
            margin-bottom: 20px;
            
            .title
            {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 8px;
                margin-left: 4px;
            }
        }
        
        .buttons
        {
            margin-top: 28px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            
            & > *
            {
                margin-left: 12px;
            }
        }
    }

    #academies
    {
        .academy
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            outline: none;
            
            padding: 12px 0;
            border-bottom: 1px solid $border-color;
            cursor: pointer;
            
            transition: 0.2s all;
            
            &:hover
            {
                background-color: $row-hover;
            }
            &:last-child
            {
                border-bottom: 0;
            }
            
            .title
            {
                margin-left: 8px;
                font-weight: 500;
            }
            .icon-arrow-right
            {
                opacity: 0.32;
                margin-right: 12px;
            }
        }
    }

    .modal
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 6;

        display: none;

        &.show
        {
            display: block;
        }

        .overlay
        {
            background: $black-80;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
        .icon-close-circle-white
        {
            position: absolute;
            top: 40px;
            right: 40px;
            z-index: 3;
        }
        .cardContainer
        {
            position: relative;
            z-index: 2;
            background: #fff;
            padding: 20px 16px 16px;
            border-radius: 8px;
            margin: 100px 0;
            max-height: 80vh;
            overflow: scroll;
        }
        .header
        {
            padding-bottom: 12px;
            
            .title
            {
                font-weight: 600;
                font-size: 20px;
            }
            .titles
            {
                overflow: auto;
                white-space: nowrap;
                padding: 4px 0;
                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar
                {
                    display: none;
                }
            }
        }
        .line-separator
        {
            margin-bottom: 20px;
        }
    }
}