<div id="whatsappBanner">
    <div class="responsive-container">
        <div>
            <div class="title">Encontramos tu curso y academia de inglés en menos de 12 horas</div>
            <div class="subtitle">Recibe las 2-3 mejores opciones en tu Correo o WhatsApp</div>
        </div>
        <a class="button medium green noshadow" href="/estudio-personalizado">Pruébalo, es gratis</a>
    </div>
</div>

<div class="responsive-container">
    <div class="search-view">
        <app-searchbox #searchbox class="searchbox" [small]="true" [fixed]="showFixedSearchbar" (onSearch)="findCourses($event)" (onFocus)="onFocusSearchbox()"></app-searchbox>
        <div #orderbox class="orderbox noselect" [ngClass]="{'expanded': orderExpanded}">
            <div class="selector card-banner" (click)="orderExpanded = !orderExpanded">
                <div class="left">
                    <div class="title">Ordenar por</div>
                    <div class="text">{{ currentOrder.name }}</div>
                </div>
                <div class="icon size-20 icon-filter"></div>
                <div class="icon size-14 icon-arrow-down"></div>
            </div>
            <div class="selector-list">
                <div class="title">Ordenar por</div>
                <div class="item" [ngClass]="{'selected': order == currentOrder}" *ngFor="let order of orders" (click)="orderBy(order)">{{ order.name }}</div>
            </div>
        </div>
    </div>
    <div id="fixed-searchbox" [ngClass]="{'show': showFixedSearchbar}">
        <div class="responsive-container">
            <app-searchbox #fixedsearchbox class="searchbox" [fixed]="true" [small]="true" (onSearch)="findCourses($event)" (onFocus)="onFocusSearchbox()"></app-searchbox>
            <div #fixedorderbox class="orderbox noselect" [ngClass]="{'expanded': orderExpanded}">
                <div class="selector card-banner" (click)="orderExpanded = !orderExpanded">
                    <div class="left">
                        <div class="title">Ordenar por</div>
                        <div class="text">{{ currentOrder.name }}</div>
                    </div>
                    <div class="icon size-20 icon-filter"></div>
                    <div class="icon size-14 icon-arrow-down"></div>
                </div>
                <div class="selector-list">
                    <div class="title">Ordenar por</div>
                    <div class="item" [ngClass]="{'selected': order == currentOrder}" *ngFor="let order of orders" (click)="orderBy(order)">{{ order.name }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="title-view" *ngIf="courses.length !== 0">
        <h1>Las mejores academias de inglés en Madrid</h1>
        <div class="results-count">{{ courses.length }} CURSOS</div>
    </div>

    <div>
        <div *ngIf="!searching && courses.length === 0">
            <h3>No hay cursos para esta categoría</h3>
        </div>

        <div class="spinner" [hidden]="!searching"></div>

        <div id="results" *ngIf="courses.length !== 0" [hidden]="searching">
            <div class="course-item-container" *ngFor="let course of courses">
                <app-course-card [course]="course"></app-course-card>
            </div>
        </div>
    </div>
</div>
