<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" [routerLink]="['']">Inicio</li>
    <li class="breadcrumb-item">{{courseService.searchcourses}}</li>
  </ol>
  
  <div class="row">
    <div class="col-md-2">
      <select class="form-control" (change)="setFilter(filterBox.value)" #filterBox>
        <option></option>
        <option *ngFor="let selected of select" [value]="selected">{{selected}}</option>
      </select>
    </div>
  </div>

  <div class="col-lg-12">
    <button type="button" class="btn btn-outline-primary m-3" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="map-courses">
      <span *ngIf="isCollapsed">Ver mapa</span>
      <span *ngIf="!isCollapsed">Ocultar mapa</span>
    </button>
    <div class="col-lg-12 mb-3" id="map-courses" [ngbCollapse]="isCollapsed">
      <app-map></app-map>
    </div>
    <app-displaySearchedCourses></app-displaySearchedCourses>
  </div>
</div>
