.course-list {
  padding: 0;
}

.course-item {
  list-style-type: none;
  width: 20rem;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.205);
  -moz-box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.205);
  box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.205);
  a {
    color: #000000;
    &:hover {
      text-decoration: none;
    }
  }
  button {
    cursor: pointer;
  }
}

.course-item-image {
  max-height: 200px;
  border-right: 1px solid #c4c4c4;
  z-index: 0;
}

.star {
  position: relative;
  display: inline-block;
  color: #c4c4c4;
  font-size: 1.5rem;
}

.full {
  color: rgb(236, 201, 0);
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: rgb(236, 201, 0);
}
