<div *ngIf="courseService.searching === false">
  
  <div *ngIf="courseService.foundCourses.length === 0">
    <h3>No hay cursos</h3>
  </div>

  <div *ngIf="courseService.foundCourses.length !== 0">
    <ul class="course-list">
      <li *ngFor="let course of courseService.foundCourses; let courseIndex = index" class="course-item mb-3 row">
        <div class="col-md-3 course-item-image">
          <img [src]="" alt="">
        </div>
        <div class="col-md-9 d-flex flex-column justify-content-between">
          <div class="row">
            <div class="col-md-9">
              <h3 class="mt-2 m-0"><a [routerLink]="['/course/view']" [queryParams]="{id: course._id}" (click)="courseService.viewCourse = courseIndex">{{course.title}}</a></h3>
              <small class="text-muted">{{course.academy.name}}</small>
            </div>
            <div class=" col-md-3 p-2 text-right">
              <h3 class="p-0 m-0">
                {{course.price | currency:'EUR'}}
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" *ngIf="course.description.length > 250">
              <p>{{course.description | slice:0:250}}...
                <a [routerLink]="['/course/view']" [queryParams]="{id: course._id}" (click)="courseService.viewCourse = courseIndex">Ver más</a>
              </p>
            </div>
            <div class="col-md-12" *ngIf="course.description.length <= 250">
              <p>{{course.description}}</p>
            </div>
          </div>
          <div class="text-right p-2 d-flex align-items-center justify-content-end">
            <a [routerLink]="" class="mr-2 pt-1">Reviews ({{course.reviews.length}})</a>
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">★</span>★</span>
            </ng-template>
            <ngb-rating rate="{{calcReviewGrade(course.reviews)}}" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
