<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">★</span>★</span>
</ng-template>

<div *ngIf="courseService.searching === false">

  <div *ngIf="courseService.foundCourses.length === 0" class="text-center">
    <h3>No hay cursos para esta categoría</h3>
  </div>

  <div *ngIf="courseService.foundCourses.length !== 0">

    <div class="row justify-content-center">
      <div class="col-auto mb-3" *ngFor="let course of courseService.foundCourses; let courseIndex = index">
        <div class="card course-item">
          <div class="course-item-img" *ngIf="course.images.length !== 0">
            <img class="mw-100" [src]="course.images[0].imagePath" alt="course.images[0].imageName">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{course.title}}</h5>
            <small class="text-muted">{{course.academy.name}}</small>
            <p class="card-text">
              {{course.price | currency:'EUR'}}
            </p>
            <p class="card-text">
              Inicio: {{course.startDate | date: "dd/MM/yyyy"}}
            </p>
            <p class="card-text">
              Dirección: {{course.academy.address}}
            </p>
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            Reviews ({{course.reviews.length}})
            <ngb-rating rate="{{calcReviewGrade(course.reviews)}}" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
            <a [routerLink]="['/course/view']" [queryParams]="{id: course._id}" (click)="courseService.viewCourse = courseIndex">
            <button class="btn btn-danger btn-sm card-btn">Ver más</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
