<div id="cookies-box" *ngIf="show">
    <div class="icon icon-cookie-monster"></div>
    <p>El monstruo de las galletas trabaja en nuestro equipo. Cerrando este mensaje aceptas nuestra <a class="color-green" [routerLink]="['cookie-policy']">Política de cookies</a>.</p>
    <div class="icon-container" (click)="onClickClose()">
        <div class="icon icon-close-thin"></div>
    </div>
    <!--<div class="buttons-container">
        <div class="button small white" (click)="onClickCancel()">Rechazar</div>
        <div class="button small green noshadow" (click)="onClickAccept()">Aceptar</div>
    </div>-->
</div>
