<div class="landing">
    <div class="responsive-container">
        <section class="titles">
            <h1>Curso de inglés Online + Preparación Aptis niveles B1, B2 y C1</h1>
            <h5>
                Afronta con éxito tu examen Aptis con este curso de preparación de la academia
                <span class="color-green">
                    IberEnglish
                    <div class="verifiedBadge card-banner">
                        <span>Academia verificada por</span>
                        <img src="../../../assets/public/images/logo_red.png" alt="Appcademos" />
                        <span>Tu comparador de academias ;)</span>
                    </div>
                </span>
            </h5>
        </section>
        
        <section class="mainInfoBox">
            <div class="flex flex-row space-between">
                <div class="academyInfo card-banner">
                    <div class="top">
                        <img class="card-banner" src="../../../assets/public/images/landings/iber-english/logo.jpg" alt="Academia IberEnglish" />
                        <div class="rating">
                            <i nz-icon nzType="star" nzTheme="fill"></i>
                            <div class="points">4,7<span>/5</span></div>
                        </div>
                    </div>
                    <div class="text">
                        <p>Academia con <b>profesores certificados</b> para preparar el examen Aptis.</p>
                    </div>
                    <div class="badges">
                        <img src="../../../assets/public/images/landings/iber-english/aptis-logo.jpg" alt="APTIS logo" />
                    </div>
                </div>
                <span
                    class="infoLink color-green underlined fw-500 fs-16 cursor-pointer text-center"
                    (click)="utils.scrollToElement('.mainInfoBox .bottomText', undefined, 40)"
                >
                    Ver toda la información del curso
                </span>
                <div class="formColumn">
                    <div class="fw-600 fs-18">Llámanos gratis</div>
                    <a class="button red" href="tel:+34689438538">+34 689 438 538</a>
                    <div class="fw-600 fs-18">ó</div>
                    
                    <div id="landingForm"></div>
                </div>
            </div>
            <div class="bottomText">
                <p>Aptis es un <b>moderno, innovador y asequible examen de inglés desarrollado por el British Council</b> con el que puedes certificar tu nivel de inglés a acuerdo al Marco Común Europeo de Referencia para las Lenguas (MECRL).<br/><br/>- Realizas el examen por ordenador y <b>recibes los resultados en 48-72 horas</b>.<br/>- <b>Reconocido oficialmente</b> por numerosas instituciones en 14 Comunidades Autónomas, la CRUE y ACLES.</p>
            </div>
        </section>
        
        <section class="triptic">
            <div class="item">
                <div class="icon size-92 icon-landing-computer"></div>
                <div class="text-center fs-18 fw-600">100% online con grupos reducidos</div>
            </div>
            <div class="item">
                <div class="icon size-92 icon-landing-teacher"></div>
                <div class="text-center fs-18 fw-600">Profesores<br/>certificados</div>
            </div>
            <div class="item">
                <div class="icon size-92 icon-landing-certificate"></div>
                <div class="text-center fs-18 fw-600">Certificado de asistencia al finalizar el curso</div>
            </div>
        </section>
        
        <section class="courseInfo">
            <h3>Información importante del curso:</h3>
            <div class="card-banner">
                <div class="item">
                    <div class="title">Inicio del curso</div>
                    <div class="text">Te incorporas cuando quieras.</div>
                </div>
                <div class="item">
                    <div class="title">Precio mensual</div>
                    <div class="text">130€</div>
                </div>
                <div class="item">
                    <div class="title">Precio trimestral</div>
                    <div class="text">312€ (20% dto.)</div>
                </div>
                <div class="item">
                    <div class="title">Horarios</div>
                    <div class="text">L y X: 10:30 - 12.00<br/>L y X: 18.30 - 20.00<br/>L y X: 20.00 - 21.30<br/>M y J: 10:30 - 12.00<br/>M y J: 18.30 - 20.00<br/>M y J: 20.00 - 21.30</div>
                </div>
            </div>
            <div class="smalltext"><div><sup>*</sup>Tendrás que comprar un Sudent’s Book que cuesta unos 39€.</div></div>
        </section>
        
        <section>
            <h3>Beneficios de preparar el Aptis en la academia IberEnglish:</h3>
            <div class="checkmarksContainer">
                <div><i class="icon size-24 icon-landing-checkmark"></i> Profesorado certificado y clases reducidas (máximo 6 alumnos).</div>
                <div><i class="icon size-24 icon-landing-checkmark"></i> Obtienes un certificado de asistencia y aprovechamiento al finalizar el curso.</div>
                <div><i class="icon size-24 icon-landing-checkmark"></i> Curso bonificable a través de Fundae (antes Tripartita).</div>
            </div>
        </section>
    </div>
    
    <section>
        <div class="responsive-container">
            <h2 class="text-center">¡Este año SÍ vas a aprender inglés!</h2>
        </div>
        <div class="fullImage">
            <div class="responsive-container">
                <div class="button" (click)="onClickSuperButton()">Quiero preparar<br/>el Aptis</div>
            </div>
        </div>
    </section>
    
    <section class="inlineImagesSection">
        <div class="responsive-container">
            <div class="inlineImages">
                <img class="card-banner" width="auto" height="200" src="../../../assets/public/images/landings/iber-english/comp1.jpg" />
                <img class="card-banner" width="auto" height="120" src="../../../assets/public/images/landings/iber-english/logo.jpg" />
                <img class="card-banner" width="auto" height="200" src="../../../assets/public/images/landings/iber-english/comp2.jpg" />
            </div>
            <h3>Academia recomendada por Appcademos.com, tu comparador de cursos y academias de inglés.</h3>
        </div>
    </section>
</div>
