<section id="top-banner" *ngIf="visible">
    <div class="responsive-container">
        <div class="content">
            <img class="icon appcademos" src="../../../assets/public/images/appcademos_logo_white.png" />
            <span>va a cambiar a</span>
            <img class="icon yinius" src="../../../assets/public/images/logo_all_white.svg" />
            <a class="fw-600" href="https://www.yinius.es/blog/rebranding-appcademos-yinius/" target="_blank">Descubre la historia detrás del cambio</a>
        </div>
        
        <i class="closeButton icon size-14 icon-close" (click)="visible = false"></i>
    </div>
</section>