$main-yellow: rgb(236, 201, 0);

$black:                     #484848;
$black-08:                  rgba(72,72,72,0.08);
$black-12:                  rgba(72,72,72,0.12);
$black-16:                  rgba(72,72,72,0.16);
$black-20:                  rgba(72,72,72,0.2);
$black-40:                  rgba(72,72,72,0.4);
$black-50:                  rgba(72,72,72,0.5);
$black-60:                  rgba(72,72,72,0.6);
$black-70:                  rgba(72,72,72,0.7);
$black-80:                  rgba(72,72,72,0.8);
$black-88:                  rgba(72,72,72,0.88);

//$red-color:         #D7213E;
//$red-color-50:      rgba(215,33,62,0.5);

$red-color:                 #E43450;
$red-color-04:              rgba(228,52,80,0.04);
$red-color-06:              rgba(228,52,80,0.06);
$red-color-50:              rgba(228,52,80,0.5);
$red-color-60:              rgba(228,52,80,0.6);
$red-color-80:              rgba(228,52,80,0.8);
$red-color-button:          #E3445E;
$red-color-button-hover:    #D84059;

$green-color:               #43A9A7;
$green-color-08:            #F1F8F8; //rgba(67,169,167,0.08);
$green-color-12:            rgba(67,169,167,0.12);
$green-color-16:            rgba(67,169,167,0.16);
$green-color-32:            rgba(67,169,167,0.32);
$green-color-button-hover:  #3F9E9C;

$whatsapp-color:            #00E870;
$whatsapp-color-04:         rgba(0,232,112,0.04);
$yellow-star-color:         #ECC900;

$error-color:               #FF3366;

$border-color:              #E8E8E8;

$row-hover:                 #faf8f8;

$manager-background:        #fbfbfb;

$facebookBlue:              #1877f2;

$size-mobile:               786px;

$cardsHorizontalSeparation: 8px;
$cardsVerticalSeparation:   36px;