<div class="container" *ngIf="courseObj">

  <div class="row mb-4">
    <div class="col-md-4 single-course-col-left">
      <img src="" alt="" class="mt-2 btest">
      <div class="mt-2">
        <h6>
          Opiniones verificadas de alumnos del centro:
        </h6>
        <div class="d-flex align-items-center">
          <div class="average-label mr-2">
            <h4 class="p-0 m-0">{{average | number : '1.1'}}</h4>
          </div>
          <div>
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">
                  <i class="fas fa-star"></i>
                </span>
                <i class="fas fa-star"></i>
              </span>
            </ng-template>
            <ngb-rating rate="{{calcReviewGrade(courseObj.reviews)}}" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          </div>
          <div class="d-flex justify-content-center ml-auto">
            <a [routerLink]="['']" *ngIf="courseObj.reviews.length === 1" class="m-0">{{courseObj.reviews.length}} avaliación</a>
            <a [routerLink]="['']" *ngIf="courseObj.reviews.length !== 1" class="m-0">{{courseObj.reviews.length}} avaliaciones</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h1 class="mt-2">
        {{courseObj.course.title}}
      </h1>
      <small class="text-muted">{{courseObj.course.academy.name}}</small>
      <hr>
      <h4>
        Precio: {{courseObj.course.price | currency: "EUR"}}
      </h4>
      <h5>
        Inicio de clases: {{courseObj.course.startDate}}
      </h5>
      <div>
        <h5 class="mr-3">
          Horarios:
        </h5>
      </div>
      <div class="row pl-3 mb-2">
        <div class="custom-control custom-radio mr-3" *ngFor="let group of courseObj.course.group; let i = index">
          <input type="radio" id="groupCourseSelection{{i}}" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="groupCourseSelection{{i}}">{{group}}</label>
        </div>
      </div>
      <h5>
        Nº de horas: {{courseObj.course.hours}}
      </h5>
      <h5>
        Precio por hora: {{courseObj.course.price / courseObj.course.hours | currency: "EUR"}}/h
      </h5>
      <div class="p-2 single-course-demands">
        <h4>Requisitos del curso</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum egestas augue at semper. Morbi posuere orci
          at nulla fermentum, vehicula tempus libero elementum. Ut et urna eu diam ornare lacinia sit amet non tellus. Sed
          ac diam eu tortor feugiat vestibulum. Nunc ultrices malesuada nisl, quis sollicitudin nibh efficitur id. Aliquam
          justo nibh, dignissim quis nulla sit amet, tempor egestas velit. Sed id varius ipsum. Etiam vel vulputate dui,
          nec euismod velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id mollis quam. Nulla congue
          eu augue sit amet faucibus. Curabitur mattis consectetur erat, eget finibus dui efficitur in. Fusce fringilla ligula
          tortor, vitae tristique est ultrices eu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. </p>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-10 course-description">
      <h5>Descripción del curso:</h5>
      <p>{{courseObj.course.description}}</p>
      <ul>
        <li>
          <h6>Dirección:</h6> {{courseObj.course.academy.address}}
        </li>
        <li>
          <h6>Nº máximo de alumnos en clase:</h6> {{courseObj.course.sizeClass}}
        </li>
        <li>
          <h6>Porcentaje de aprobados:</h6> {{courseObj.course.approvedRate}}
        </li>
        <li>
            <h6>¿Por qué elegir la academia {{courseObj.course.academy.name}}?</h6>
            {{courseObj.course.academy.about}}
        </li>
        <li>
            <h6>¿Qué sabrás al finalizar el curso?</h6>
            {{courseObj.course.about}}
        </li>
      </ul>
    </div>
  </div>

</div>
