<div #searchbox id="searchbox" [ngClass]="{'searchPanelOpened': showSearchPanel, 'small-size': small, 'fixed': fixed, 'isHome': isHome}">
    <input
        #searchInput
        type="text"
        name="query"
        [(ngModel)]="query"
        placeholder="¿Qué curso necesitas?"
        (keyup.enter)="doOnSearch()"
        (focus)="doShowSearchPanel(); this.onFocus.emit();"
        (keyup.esc)="onInputPressEsc()"
    >
    <button type="button" (click)="doOnSearch()">
        <i class="icon icon-search" [ngClass]="{'size-24': !small, 'size-20': small}"></i>
    </button>
    <!--<a class="allCourses" routerLink="/all">Ver todos los cursos <i class="icon size-10 icon-arrow-right-white"></i></a>-->

    <div class="search-panel" [hidden]="!showSearchPanel">
        <div class="top">
            <div class="tabs noselect">
                <div class="tab" [ngClass]="{'selected': selectedTab == 1}" (click)="selectedTab = 1">Certificados</div>
                <div class="tab" [ngClass]="{'selected': selectedTab == 2}" (click)="selectedTab = 2">Mejorar tu inglés</div>
            </div>
            <div class="icon size-14 icon-close cursor-pointer" (click)="doHideSearchPanel()"></div>
        </div>
        <div class="content" *ngIf="!small">
            <a class="search-panel-item noselect" [routerLink]="['search']" [queryParams]="{ course: 'first' }" [hidden]="selectedTab == 2">First certificate</a>
            <a class="search-panel-item noselect" [routerLink]="['search']" [queryParams]="{ course: 'advanced' }" [hidden]="selectedTab == 2">Advanced</a>
            <a class="search-panel-item noselect" [routerLink]="['search']" [queryParams]="{ course: 'nivel b1' }" [hidden]="selectedTab == 1">Inglés General B1</a>
            <a class="search-panel-item noselect" [routerLink]="['search']" [queryParams]="{ course: 'nivel b2' }" [hidden]="selectedTab == 1">Inglés General B2</a>
            <a class="search-panel-item noselect" [routerLink]="['search']" [queryParams]="{ course: 'nivel c1' }" [hidden]="selectedTab == 1">Inglés General C1</a>
            <a class="search-panel-item noselect" [routerLink]="['search']" [queryParams]="{ course: 'toefl' }" [hidden]="selectedTab == 2">TOEFL</a>
            <a class="search-panel-item noselect" [routerLink]="['search']" [queryParams]="{ course: 'ielts' }" [hidden]="selectedTab == 2">IELTS</a>
            <a class="search-panel-item noselect" [routerLink]="['search']" [queryParams]="{ course: 'toeic' }" [hidden]="selectedTab == 2">TOEIC</a>
            <a class="search-panel-item noselect" [routerLink]="['search']" [queryParams]="{ course: 'proficiency' }" [hidden]="selectedTab == 2">Proficiency</a>
        </div>
        <div class="content" *ngIf="small">
            <a class="search-panel-item noselect" (click)="query = 'first'; doOnSearch();" [hidden]="selectedTab == 2">First certificate</a>
            <a class="search-panel-item noselect" (click)="query = 'advanced'; doOnSearch();" [hidden]="selectedTab == 2">Advanced</a>
            <a class="search-panel-item noselect" (click)="query = 'nivel b1'; doOnSearch();" [hidden]="selectedTab == 1">Inglés General B1</a>
            <a class="search-panel-item noselect" (click)="query = 'nivel b2'; doOnSearch();" [hidden]="selectedTab == 1">Inglés General B2</a>
            <a class="search-panel-item noselect" (click)="query = 'nivel c1'; doOnSearch();" [hidden]="selectedTab == 1">Inglés General C1</a>
            <a class="search-panel-item noselect" (click)="query = 'toefl'; doOnSearch();" [hidden]="selectedTab == 2">TOEFL</a>
            <a class="search-panel-item noselect" (click)="query = 'ielts'; doOnSearch();" [hidden]="selectedTab == 2">IELTS</a>
            <a class="search-panel-item noselect" (click)="query = 'toeic'; doOnSearch();" [hidden]="selectedTab == 2">TOEIC</a>
            <a class="search-panel-item noselect" (click)="query = 'proficiency'; doOnSearch();" [hidden]="selectedTab == 2">Proficiency</a>
        </div>
    </div>
</div>
