@import '../../../sass/variables.scss';

.spinner
{
    margin-top: 100px;
}

.notFoundContainer
{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    
    .notFound
    {
        max-width: 400px;
        padding: 20px;
    }
}

.bookingContainer
{
    max-width: 700px;
    padding-top: 28px;
    
    h1
    {
        font-size: 24px;
        margin-bottom: 28px;
    }
}

.bookingConfirmedView
{
    width: 240px;
    margin-bottom: 40px;
    padding: 20px;
    text-align: center;
    
    .animationContainer
    {
        height: 73px;
        position: relative;
        margin: 0 auto 16px;
    }
    .title
    {
        font-size: 20px;
        font-weight: 600;
        color: $black-80;
    }
}

.card-banner-title
{
    margin-left: 4px !important;
    margin-bottom: 6px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.courseBanner
{
    margin-bottom: 32px;
    
    .card-banner
    {
        padding: 16px;
    }
    .info
    {
        border-right: 1px solid $border-color;
        padding-right: 32px;
        margin-right: 32px;
        
        .image
        {
            width: 60px;
            height: 36px;
            border: 1px solid $border-color;
            border-radius: 4px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 12px;
            flex-shrink: 0;
        }
        .title
        {
            margin-top: 4px;
        }
        .verified
        {
            flex: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            font-weight: 700;
            font-size: 7px;
            color: $green-color;
            border: 1px solid $green-color;
            border-radius: 4px;
            padding: 2px 3px 1px;
            letter-spacing: 0.8px;
            margin-left: 8px;
            opacity: 0.6;

            i
            {
                margin-right: 2px;
                transform: translate(0,-1px);
            }
        }
    }
    .price
    {
        flex-shrink: 0;
        
        .small
        {
            font-size: 12px;
        }
    }

    @media (max-width: 480px)
    {
        .card-banner
        {
            flex-wrap: wrap;
        }
        .info
        {
            flex-direction: column !important;
            padding-right: 0;
            border: 0;
            margin-right: 0;
            
            .image
            {
                width: 140px;
                height: 72px;
                margin-bottom: 8px;
            }
        }
        .price
        {
            width: 100%;
            margin-top: 12px;
        }
    }
}

.bookingForm
{
    margin-top: 32px;
    
    .checkboxContainer div
    {
        margin-left: 8px;
    }
    .form
    {
        padding: 20px 20px 16px;
    }
    .checkboxContainer
    {
        margin-top: 24px;
    }
    button
    {
        margin-top: 16px;
    }
}

#requestInfo
{
    margin-bottom: 48px;
    
    #requestInfoForm
    {
        padding: 20px 20px 0;
    }
}

#contactBox
{
    margin-bottom: 80px;
    
    p
    {
        margin: 8px 0 20px;
    }
    a
    {
        color: #fff;
        background-color: $green-color;
        border-color: $green-color;
        
        &:hover
        {
            background-color: $green-color-button-hover;
        }
    }
}

.additionalInfo
{
    margin-top: 32px;
    margin-bottom: 80px;
    
    .card-banner
    {
        padding: 20px;
    }
    .title
    {
        margin-bottom: 4px;
    }
    p
    {
        font-weight: 500;
        color: $black-80;
    }
}

.registrationModal
{
    p
    {
        margin-bottom: 12px;
    }
    label
    {
        color: $black-80;
    }
}

::ng-deep .vertical-center-modal
{
    display: flex;
    align-items: center;
    justify-content: center;
}
::ng-deep .vertical-center-modal .ant-modal
{
    top: 0;
}