<div class="bookingContainer responsive-container" *ngIf="course != null">
    <h1>{{ isVerifiedCourse ? (bookingConfirmedPage ? 'Curso reservado' : 'Reserva de curso') : 'Pedir información' }}</h1>
    
    <div class="bookingConfirmedView card-banner" *ngIf="bookingConfirmedPage">
        <div class="animationContainer">
            <lottie-animation-view
               [options]="lottieConfig"
               [width]="220"
               [height]="220"
               (animCreated)="playCheckAnimation($event)"
             >
             </lottie-animation-view>
            </div>
         <div class="title">Tu plaza ha sido reservada</div>
    </div>
    
    <div class="courseBanner">
        <h2 class="card-banner-title fw-600 fs-14 color-black-60">CURSO {{ bookingConfirmedPage ? '' : 'ELEGIDO' }}</h2>
        <div class="card-banner flex-inline flex-row align-items-center">
            <div class="info flex flex-row">
                <div
                    class="image"
                    *ngIf="course.images[0] != null && course.images[0].imagePath != null"
                    [ngStyle]="{'background-image': 'url(' + course.images[0].imagePath + ')'}"
                ></div>
                <div>
                    <div class="flex flex-row align-items-center">
                        <div class="fs-10 fw-600 color-black-60">ACADEMIA {{ course.academy.name.toUpperCase() }}</div>
                        <div class="verified"><i class="icon size-7 icon-green-check"></i>VERIFICADA</div>
                    </div>
                    <div class="title fs-17 fw-600">{{ course.title }}</div>
                </div>
            </div>
            <div class="price color-orange fw-600 fs-24">{{ course.price }}€</div>
        </div>
    </div>
    
    <div class="warning-box" *ngIf="isVerifiedCourse && !bookingConfirmedPage">
        <b>Importante:</b> Al cumplimentar este formulario, vas a <span class="fw-600">reservar al instante tu plaza en una clase gratis</span> en la academia <span class="fw-600">{{ course.academy.name }}</span>. Al cumplimentarlo <span class="fw-600">te comprometes a asistir</span>. La academia tiene plazas limitadas y será notificada automáticamente recibiendo tus datos.
    </div>
    
    <div class="bookingForm" *ngIf="isVerifiedCourse && !bookingConfirmedPage">
        <h2 class="card-banner-title fw-600 fs-14 color-black-60">RELLENA TUS DATOS</h2>
        <div class="card-banner">
            <div class="form full-width">
                <form>
                  <div class="form-group">
                    <label>Nombre y apellidos</label>
                    <input nz-input nzSize="large" type="text" [(ngModel)]="name" name="name" [disabled]="courseBooked">
                  </div>
                  <div class="form-group">
                    <label>Teléfono (La academia es posible que te llame)</label>
                    <input nz-input nzSize="large" type="text" [(ngModel)]="phone" name="phone" [disabled]="courseBooked">
                  </div>
                  <div class="form-group">
                      <label>Email</label>
                      <input nz-input nzSize="large" type="text" [(ngModel)]="email" name="email" [disabled]="courseBooked">
                  </div>
                  <div class="form-group">
                    <label>Día y hora de inicio</label>
                    <nz-select nzSize="large" [(ngModel)]="group" name="group" [disabled]="courseBooked">
                        <nz-option *ngFor="let group of course.group" [nzValue]="startDateFormatted + '-' + group" [nzLabel]="startDateFormatted + '-' + group"></nz-option>
                    </nz-select>
                  </div>
                 
                  <div class="form-group">
                    <div class="checkboxContainer flex flex-row align-items-center">
                        <app-checkbox [red]="true" [checked]="termsAccepted" (onChange)="onChangeTermsAccepted($event)" [disabled]="courseBooked"></app-checkbox>
                        <div>
                            Acepto la <a href="/privacy-policy" target="_blank" class="color-green fw-500">política de privacidad</a>
                        </div>
                    </div>
                  </div>

                  <button
                    [disabled]="courseBooked"
                    nz-button
                    nzType="primary"
                    nzSize="large"
                    nzBlock
                    [nzLoading]="sendingBooking"
                    (click)="onPressBook()"
                    >
                        {{ courseBooked ? '¡Curso reservado!' : 'Reservar curso' }}
                    </button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="additionalInfo" *ngIf="isVerifiedCourse && !bookingConfirmedPage">
        <h2 class="card-banner-title fw-600 fs-14 color-black-60">INFORMACIÓN ADICIONAL</h2>
        <div class="card-banner">
            <div class="title fs-16 fw-600">Antes de ir debes saber</div>
            <p>Te harán una prueba de nivel previa a la clase, por lo que debes llegar 30 minutos antes del horario seleccionado. No necesitas llevar ningún material a esta clase gratis.</p>
            <br/>
            <div class="title fs-16 fw-600">Sobre el pago</div>
            <p>Si decides no continuar, no hace falta que se lo comuniques al centro. Si decides continuar, puedes pagar en el centro.</p>
            <br/>
            <div class="title fs-16 fw-600">Ayuda</div>
            <p>Puedes llamarnos al 689438538 😉</p>
        </div>
    </div>
    
    
    <div id="requestInfo" *ngIf="!isVerifiedCourse">
        <h2 class="card-banner-title color-black-60">RELLENA TUS DATOS</h2>
        <div class="card-banner">
            <div id="requestInfoForm"></div>
        </div>
    </div>
    
    <div id="contactBox" *ngIf="!isVerifiedCourse">
        <h3>¿Prefieres contactarnos tú?</h3>
        <p>Habla con uno de nuestros expertos</p>
        <a nz-button nzType="primary" href="https://wa.me/34689438538" target="_blank">Abrir Whatsapp</a>
    </div>
</div>
    
<div class="responsive-container">
    <div class="spinner" [hidden]="!isLoading"></div>
    
    <div class="notFoundContainer" *ngIf="courseNotFound">
        <div class="notFound card-banner">
            Lo sentimos, el curso no se ha encontrado
        </div>
    </div>
    
    <div class="notFoundContainer" *ngIf="course != null && course.isBooked">
        <div class="notFound card-banner">
            Lo sentimos, el curso está completo
        </div>
    </div>
</div>

<nz-modal
    class="registrationModal"
    nzWrapClassName="vertical-center-modal"
    [(nzVisible)]="showRegistrationModal"
    nzTitle="Crea una cuenta"
    nzOkText="Crear cuenta y vincular reserva"
    nzCancelText="Continuar sin cuenta"
    (nzOnCancel)="onRegistrationModalCancel()"
    (nzOnOk)="onRegistrationModalOk()"
    [nzClosable]="false"
    [nzMaskClosable]="false"
    [nzOkLoading]="sendingSignup"
>
    <p class="fw-500 fs-16">Aprovecha y crea tu cuenta para poder gestionar tus reservas.</p>
    
    <div class="form full-width">
        <form>
            <div class="form-group">
                <label>Contraseña</label>
                <input
                    nz-input
                    nzSize="large"
                    type="password"
                    name="password"
                    placeholder="Escribe tu contraseña"
                    [(ngModel)]="password"
                >
            </div>
            <div class="form-group">
                <label>Repite la contraseña</label>
                <input
                    nz-input
                    nzSize="large"
                    type="password"
                    name="repeat-password"
                    placeholder="Escribe tu contraseña"
                    [(ngModel)]="repeatPassword"
                    (keyup.enter)="onRegistrationModalOk()"
                >
            </div>
        </form>
    </div>
</nz-modal>
