<div class="container-fluid footer-contact text-white">
  <div class="container pt-4 pb-5">
    <div class="col-md-12">
      <h2 class="text-center mb-3">¿Necesitas ayuda?</h2>
      <h4 class="mb-4 text-center">No dudes en consultarnos</h4>
      <!-- <div class="row mb-4">
        <div class="col-md-5 text-right d-none d-md-block pr-5">
          <i class="fas fa-phone"></i>
        </div>
        <div class="col-md-5 text-center d-md-none mb-2">
          <i class="fas fa-phone"></i>
        </div>
        <div class="col-md-7 d-none d-md-block">
          <h4 class="m-0">916 570 784</h4>
        </div>
        <div class="col-md-7 text-center d-md-none">
          <h4 class="m-0">916 570 784</h4>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-5 text-right d-none d-md-block pr-5">
          <i class="far fa-envelope"></i>
        </div>
        <div class="col-md-5 text-center d-md-none">
          <i class="far fa-envelope"></i>
        </div>
        <div class="col-md-7 d-none d-md-block">
          <h4 class="m-0">info@appcademos.com</h4>
        </div>
        <div class="col-md-7 text-center d-md-none">
          <h4 class="m-0">info@appcademos.com</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-info">
  <div class="container d-flex flex-column align-content-between pt-4">
    <div class="d-none d-lg-block text-center">
      <h4 class="text-center">Toda la información ha sido verificada y proporcionada por los centros que imparten los cursos</h4>
      <p>
        Appcademos © 2018
      </p>
    </div>
    <div class="d-lg-none mb-5 text-center">
      <h4 class="text-center">Toda la información ha sido verificada y proporcionada por los centros que imparten los cursos</h4>
      <p>
        Appcademos © 2018
      </p>
    </div>
  </div>

</div>
