<footer>
    <div class="responsive-container">
        <div class="top">
            <h3>¿Necesitas ayuda?</h3>
            <div class="contact-cards">
                <a href="https://wa.me/34677827178" target="_blank" class="card-banner">
                    <i class="icon icon-whatsapp-green"></i>
                    <div class="text-content">
                        <div class="title fw-700 fs-14 color-black-50">ESCRÍBENOS UN <span class="color-whatsapp">WHATSAPP</span> AL:</div>
                        <div class="text fs-24 fw-500">677 827 178</div>
                    </div>
                </a>
                <a href="mailto:hello@appcademos.com" class="card-banner">
                    <i class="icon icon-email"></i>
                    <div class="text-content">
                        <div class="title fw-700 fs-14 color-black-50">ESCRÍBENOS UN EMAIL A:</div>
                        <div class="text fs-24 fw-500">hello@appcademos.com</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <p class="fw-500">Toda la información ha sido verificada y proporcionada por los centros que imparten los cursos.</p>
                <p>Appcademos © 2018</p>
            </div>
            <div class="right">
                <div class="contact-container">
                    <div class="contact">
                        <div class="title fs-13 fw-600">Whatsapp</div>
                        <div class="text"><a href="https://wa.me/34677827178" target="_blank">677 827 178</a></div>
                    </div>
                    <div class="contact">
                        <div class="title fs-13 fw-600">Email</div>
                        <div class="text"><a href="mailto:hello@appcademos.com">hello@appcademos.com</a></div>
                    </div>
                </div>
                <div class="social-icons">
                    <a href="https://www.facebook.com/appcademos" target="_blank"><i class="icon size-20 icon-facebook"></i></a>
                    <a href="https://www.instagram.com/appcademos/" target="_blank"><i class="icon size-20 icon-instagram"></i></a>
                    <a href="https://twitter.com/appcademos" target="_blank"><i class="icon size-20 icon-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/appcademos" target="_blank"><i class="icon size-20 icon-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>





<!--<div class="container-fluid footer-contact text-white">
  <div class="container pt-5 pb-5">
    <div class="col-md-12">
      <h2 class="text-center mb-2"><b>¿Necesitas ayuda?</b></h2>
      <h5 class="mb-4 text-center fw-400">No dudes en consultarnos</h5>
      <div class="row">
        <div _ngcontent-c2="" class="col-md-12 d-flex justify-content-center align-items-center">
            <i _ngcontent-c2="" class="d-none d-sm-block far fa-envelope mr-3"></i>
            <h4 _ngcontent-c2="" class="mb-0 d-inline"><a href="mailto:info@appcademos.com" class="text-white">info@appcademos.com</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-info">
  <div class="container d-flex flex-column align-content-between pt-4">
    <div class="d-none d-lg-block text-center">
      <h4 class="text-center">Toda la información ha sido verificada y proporcionada por los centros que imparten los cursos</h4>
      <p>
        Appcademos © 2018
      </p>
    </div>
    <div class="d-lg-none mb-5 text-center">
      <h4 class="text-center">Toda la información ha sido verificada y proporcionada por los centros que imparten los cursos</h4>
      <p>
        Appcademos © 2018
      </p>
    </div>
  </div>

</div>-->
