<div class="container-fluid footer-contact text-white">
  <div class="container pt-5 pb-5">
    <div class="col-md-12">
      <h2 class="text-center mb-2"><b>¿Necesitas ayuda?</b></h2>
      <h5 class="mb-4 text-center fw-400">No dudes en consultarnos</h5>
      <!-- <div class="row mb-4">
        <div class="col-md-5 text-right d-none d-md-block pr-5">
          <i class="fas fa-phone"></i>
        </div>
        <div class="col-md-5 text-center d-md-none mb-2">
          <i class="fas fa-phone"></i>
        </div>
        <div class="col-md-7 d-none d-md-block">
          <h4 class="m-0">916 570 784</h4>
        </div>
        <div class="col-md-7 text-center d-md-none">
          <h4 class="m-0">916 570 784</h4>
        </div>
      </div> -->
      <div class="row">
        <div _ngcontent-c2="" class="col-md-12 d-none d-md-flex justify-content-center align-items-center">
            <i _ngcontent-c2="" class="far fa-envelope mr-3"></i>
            <h4 _ngcontent-c2="" class="mb-0 d-inline"><a href="mailto:info@appcademos.com" class="text-white">info@appcademos.com</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-info">
  <div class="container d-flex flex-column align-content-between pt-4">
    <div class="d-none d-lg-block text-center">
      <h4 class="text-center">Toda la información ha sido verificada y proporcionada por los centros que imparten los cursos</h4>
      <p>
        Appcademos © 2018
      </p>
    </div>
    <div class="d-lg-none mb-5 text-center">
      <h4 class="text-center">Toda la información ha sido verificada y proporcionada por los centros que imparten los cursos</h4>
      <p>
        Appcademos © 2018
      </p>
    </div>
  </div>

</div>
