@import '../../../sass/abstracts/variables.scss';


footer
{
    padding: 48px 0;
    border-top: 1px solid $black-16;
    background: #fff;

    .contact-cards
    {
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card-banner
    {
        flex: 0.5;
        display: flex;
        flex-direction: row;
        padding: 32px 28px;
        text-decoration: none;

        &:first-child
        {
            margin-right: 12px;
        }
        &:last-child
        {
            margin-left: 12px;
            
            .text-content .text
            {
                @media (max-width: 400px)
                {
                    font-size: 22px !important;
                }
                @media (max-width: 360px)
                {
                    font-size: 18px !important;
                }
            }
        }

        .icon
        {
            flex-shrink: 0;
            margin-right: 16px;
        }
        .icon-whatsapp-green
        {
            height: 48px;
            width: 48px;
        }
        .icon-email
        {
            height: 48px;
            width: 64px;
            opacity: 0.24;
        }

        .text-content .title
        {
            margin-bottom: 8px;
        }
        .text-content .text
        {
            word-break: break-all;
        }
    }

    .top
    {
        margin-bottom: 48px;
        border-bottom: 1px solid $black-16;
        padding-bottom: 32px;
    }
    .bottom
    {
        display: flex;
        flex-direction: row;
        padding: 0 32px;

        .left
        {
            flex: 0.6;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            line-height: 1.6;

            .policies
            {
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 16px;

                .separator
                {
                    display: inline-block;
                    margin: 0 12px;
                }
            }
            .address
            {
                margin-bottom: 16px;
                font-size: 14px;
            }
            .address + p
            {
                font-size: 15px;
            }
            .icon-heart-filled
            {
                transform: translate(0,3px);
                margin: 0 3px;
                line-height: 1.4;
            }
        }
        .right
        {
            flex: 0.4;
            text-align: right;

            .contact
            {
                margin-bottom: 12px;
            }
            .contact .title
            {
                margin-bottom: 4px;
            }
            .social-icons
            {
                margin-top: 32px;

                a
                {
                    margin-left: 24px;
                }
                a:first-child
                {
                    margin-left: 0;
                }
                .icon
                {
                    opacity: 0.8;
                }
            }
        }
    }
}

@media (max-width: 920px)
{
    footer
    {
        .contact-cards
        {
            flex-direction: column;
        }
        .card-banner
        {
            flex: 1;
            margin: 0 0 12px 0 !important;
        }
    }
}
@media (max-width: 768px)
{
    footer
    {
        .bottom
        {
            padding: 0 12px;
        }
    }
}
@media (max-width: 620px)
{
    footer
    {
        .bottom
        {
            flex-direction: column;

            .left
            {
                justify-content: flex-start;

                p:first-child
                {
                    margin-bottom: 16px;
                }
            }
            .right
            {
                text-align: center;

                .contact-container
                {
                    margin-top: 48px;
                }
            }
        }
    }
}
@media (max-width: 520px)
{
    footer
    {
        .card-banner
        {
            padding: 24px 20px;

            .icon
            {
                display: none;
            }
        }
    }
}
