<div class="bookingContainer responsive-container" *ngIf="course != null">
    <h1>Reserva de curso</h1>
    
    <div class="courseBanner">
        <div class="card-banner-title fw-600 fs-14 color-black-60">CURSO ELEGIDO</div>
        <div class="card-banner flex-inline flex-row align-items-center">
            <div class="info flex flex-row">
                <div
                    class="image"
                    *ngIf="course.images[0] != null && course.images[0].imagePath != null"
                    [ngStyle]="{'background-image': 'url(' + course.images[0].imagePath + ')'}"
                ></div>
                <div>
                    <div class="flex flex-row align-items-center">
                        <div class="fs-10 fw-600 color-black-60">ACADEMIA {{ course.academy.name.toUpperCase() }}</div>
                        <div class="verified" *ngIf="course.academy.isVerified"><i class="icon size-7 icon-green-check"></i>VERIFICADA</div>
                    </div>
                    <div class="title fs-17 fw-600">{{ course.title }}</div>
                </div>
            </div>
            <div class="price color-red fw-600 fs-24">{{ course.price }}€</div>
        </div>
    </div>
    
    <div class="warning-box">
        <b>Importante:</b> Al cumplimentar este formulario, vas a <span class="fw-600">reservar al instante tu plaza en una clase gratis</span> en la academia <span class="fw-600">{{ course.academy.name }}</span>. Al cumplimentarlo <span class="fw-600">te comprometes a asistir</span>. La academia tiene plazas limitadas y será notificada automáticamente recibiendo tus datos.
    </div>
    
    <div class="bookingForm">
        <div class="card-banner-title fw-600 fs-14 color-black-60">RELLENA TUS DATOS</div>
        <div class="card-banner">
            <div class="form full-width">
                <form>
                  <div class="form-group">
                    <label>Nombre y apellidos</label>
                    <input type="text" class="form-control" [(ngModel)]="name" name="name">
                  </div>
                  <div class="form-group">
                    <label>Teléfono (La academia es posible que te llame)</label>
                    <input type="text" class="form-control" [(ngModel)]="phone" name="phone">
                  </div>
                  <div class="form-group">
                      <label>Email</label>
                      <input type="text" class="form-control" [(ngModel)]="email" name="email">
                  </div>
                  <div class="form-group">
                    <label>Día y hora de inicio</label>
                    <select class="form-control" [(ngModel)]="group" name="group">
                        <option *ngFor="let group of course.group" value="{{ startDateFormatted }} - {{group}}">{{ startDateFormatted }} - {{ group }}</option>
                    </select>
                  </div>
                 
                  <div class="form-group">
                    <div class="checkboxContainer flex flex-row align-items-center">
                        <app-checkbox [red]="true" [checked]="termsAccepted" (onChange)="onChangeTermsAccepted($event)"></app-checkbox>
                        <div>
                            Acepto la <a href="/privacy-policy" target="_blank" class="color-green fw-500">política de privacidad</a>
                        </div>
                    </div>
                  </div>

                  <div class="button full-width noshadow" (click)="onPressBook()">Reservar curso</div>
                </form>
            </div>
        </div>
    </div>
</div>
    
<div class="responsive-container">
    <div class="spinner" [hidden]="!isLoading"></div>
    
    <div class="notFoundContainer" *ngIf="courseNotFound">
        <div class="notFound card-banner">
            Lo sentimos, el curso no se ha encontrado
        </div>
    </div>
    
    <div class="notFoundContainer" *ngIf="course != null && course.isBooked">
        <div class="notFound card-banner">
            Lo sentimos, el curso está completo
        </div>
    </div>
</div>
