.form-group {
    input {
      height: 50px;
    }
  }
  
  .form-btn {
    height: 50px;
  }
  
  .btn-signup{
      background-color: rgb(255, 255, 255);
      border: 3px solid #C8102E;
  }
  
  .signin-link{
      a{
          color: #C8102E;
          cursor: pointer;
          &:hover{
              text-decoration: underline;
          }
      }
  }
  .text-left{
    img{
        height:80px;
        width: 90px;
    }
  }