$black:                     #272244;
$black-04:                  rgba(39,34,68,0.04);
$black-08:                  rgba(39,34,68,0.08);
$black-12:                  rgba(39,34,68,0.12);
$black-16:                  rgba(39,34,68,0.16);
$black-20:                  rgba(39,34,68,0.2);
$black-32:                  rgba(39,34,68,0.32);
$black-40:                  rgba(39,34,68,0.4);
$black-50:                  rgba(39,34,68,0.5);
$black-60:                  rgba(39,34,68,0.6);
$black-70:                  rgba(39,34,68,0.7);
$black-80:                  rgba(39,34,68,0.8);
$black-88:                  rgba(39,34,68,0.88);

$orange-color:                 #FF6E00;
$orange-color-04:              rgba(255,110,0,0.04);
$orange-color-06:              rgba(255,110,0,0.06);
$orange-color-10:              rgba(255,110,0,0.10);
$orange-color-50:              rgba(255,110,0,0.5);
$orange-color-60:              rgba(255,110,0,0.6);
$orange-color-70:              rgba(255,110,0,0.7);
$orange-color-80:              rgba(255,110,0,0.8);
$orange-color-button:          #FF6E00;
$orange-color-button-hover:    #EF5E00;

$light-orange-color:           #FFA800;

$yellow-color:                 #FFD60C;
$yellow-color-10:              rgba(255,214,11,0.10);
$yellow-color-32:              rgba(255,214,11,0.32);

$green-color:               #272244;
$green-color-08:            #EEEEF0; //rgba(39,34,68,0.08);
$green-color-12:            rgba(39,34,68,0.12);
$green-color-16:            rgba(39,34,68,0.16);
$green-color-20:            rgba(39,34,68,0.2);
$green-color-32:            rgba(39,34,68,0.32);
$green-color-button-hover:  #373254;

$whatsapp-color:            #00E870;
$whatsapp-color-04:         rgba(0,232,112,0.04);
$yellow-star-color:         $yellow-color; //#ECC900;

$error-color:               #FF0000;
$red-color:                 #FF0000;

$border-color:              #E8E8E8;

$row-hover:                 #faf8f8;

$manager-background:        #fbfbfb;

$facebookBlue:              #1877f2;

$size-mobile:               786px;

$cardsHorizontalSeparation: 8px;
$cardsVerticalSeparation:   36px;