<div>
  <div class="overlay"></div>
  <div class="hero-image">
      <div class="hero-text">
        <h1><strong>Encuentra tu academia de inglés ideal más cercana</strong></h1>
        <p>Toda la información en una misma web</p>
      </div>
      <app-searchbox-courses></app-searchbox-courses>
    </div>
</div>

<div class="container">

  <div class="col-lg-12 mt-3 pt-4 pb-4 align-items-center">
    <h2 class="text-center mb-5"><strong>Estás a tres pasos de aprender inglés</strong></h2>
    <div class="row d-flex flex-row justify-content-center align-items-start m">

      <div class="col-md-3 d-flex flex-column align-items-center text-center p-2">
        <div class="d-flex justify-content-center align-items-center rounded-circulo mb-2">1</div>
        <h4>Compara entre los cursos de las academias</h4>
      </div>
      <div class="col-md-3 d-flex flex-column align-items-center text-center p-2">
        <div class="d-flex justify-content-center align-items-center rounded-circulo mb-2">2</div>
        <h4>Te ayudamos a elegir (si lo necesitas) </h4>
      </div>
      <div class="col-md-3 d-flex flex-column align-items-center text-center p-2">
        <div class="d-flex justify-content-center align-items-center rounded-circulo mb-2">3</div>
        <h4>Asiste a la clase de prueba y decide si continúas</h4>
      </div>

    </div>
  </div>
  <hr>
  <div class="col-lg-12 mt-4 pt-4 pb-4 icons">

    <h2 class="text-center mb-4"><strong>Beneficios de Appcademos</strong></h2>

    <div class="row align-items-center">
      <div class="col-md-4 p-4 text-center">
        <img src="../../assets/public/images/info-1.png">
        <h4 class="mt-3" style="font-weight: 600;">Recomendacion objetiva e imparcial</h4>
        <h5>Te decimos los pros y los contras de cada opción</h5>
      </div>
      <div class="col-md-4 p-4 text-center">
        <img src="../../assets/public/images/satisfaction-1.png">
        <h4 class="mt-3" style="font-weight: 600;">97% de recomendaciones exitosas en los últimos 6 meses</h4>
        <h5>Nuestros usuarios acaban felices con el curso elegido</h5>
      </div>
      <div class="col-md-4 p-4 text-center">
        <img src="../../assets/public/images/iconorun.png">
        <h4 class="mt-3" style="font-weight: 600;">La información más fiable</h4>
        <h5>Nuestros asesores visitan los centros personalmente y conocen la información de todos los cursos</h5>
      </div>
    </div>
  </div>


  <div class="col-lg-12 mt-4 pt-4 pb-4 logos">

      <h4 class="text-center mb-4">Apoyados por</h4>

      <div class="row d-flex flex-row justify-content-center align-items-start">
        <div class="col-md-3 d-flex flex-column align-items-center text-center p-2">
          <img src="../../assets/public/images/tetuanvalley.png">
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center text-center p-2">
          <img src="../../assets/public/images/clubempresarialicade.png">
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center text-center p-2">
          <img src="../../assets/public/images/seklab.png">
        </div>
      </div>
    </div>
