@import '../../sass/abstracts/variables.scss';

#hero
{
    position: relative;
    height: 580px;

    background-image: /*url('https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cbbd27149a8243a42eb2bd0bd918ba8f&auto=format&fit=crop&w=1650&q=80');*/ url("../../assets/public/images/appcademos-home.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient-overlay
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 280px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
    z-index: 2;
}
.overlay
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #000000;
    opacity: 0.32;
    z-index: 1;
}

.hero-content
{
    z-index: 3;
    position: absolute;
    bottom: 0;
    width: 640px;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 90px;
}
.hero-content:after
{
    content: "";
    display: block;
    clear: both;
}
.hero-text
{
    margin-bottom: 48px;
    margin-left: 8px;
    color: white;

    p
    {
        font-weight: 600;
        font-size: 17px;
        margin-left: 2px;
        margin-top: 8px;
        letter-spacing: 1px;
        line-height: 1.48;
    }
}

#fixed-searchbox
{
    position: fixed;
    z-index: 4;
    top: -66px;
    left: 0;
    right: 0;
    padding: 12px 0;
    background: white;
    border-bottom: 1px solid #EAEAEA;

    transition: top 0.2s ease;

    &.show
    {
        top: 0;
    }
}


section
{
    padding: 48px 0;
    margin-bottom: 32px;
}

h2
{
    position: relative;
    text-align: center;
    margin-bottom: 48px !important;
}
.green-dots
{
    position: relative;
    z-index: 2;
}
.green-dots:before
{
    content: "";
    position: absolute;
    z-index: 1;
    top: -4px;
    left: -16px;
    width: 27px;
    height: 20px;
    background: url('../../assets/public/images/icons/green_dots_titles.svg');
}

section#top-banner
{
    margin-top: 32px;
    margin-bottom: 40px;
    padding: 0;

    .card-banner
    {
        max-width: 928px;
        margin: 0 auto;
        padding: 16px 20px;
    }
}
section#featured
{
    overflow: hidden;
    padding-top: 0;

    h2
    {
        margin-bottom: 24px !important;
    }
}
section#triptic
{
    padding-top: 0;

    .triptic-container
    {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        .triptic-item
        {
            width: 240px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 12px 32px;

            &:last-child
            {
                margin-bottom: 0;
            }

            .title
            {
                text-align: center;
                margin-top: 24px;
                font-size: 20px;
                font-weight: 600;
            }
            .text
            {
                text-align: center;
                margin-top: 12px;
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}
section#verified-academies
{
    position: relative;

    .background
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 260px;
        background: $green-color-08;
        z-index: 1;
    }
    .responsive-container
    {
        position: relative;
        z-index: 2;
    }
    .cards-container
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 28px;

        .card-banner
        {
            display: flex;
            flex-direction: row;
            padding: 12px 20px 12px 16px;

            .icon
            {
                flex-shrink: 0;
                margin-right: 12px;
                margin-top: 4px;
            }
            &:first-child
            {
                width: 260px;
                margin-right: 16px;
            }
            &:last-child
            {
                width: 320px;
                margin-left: 16px;
            }
        }
    }
    .help-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 86px;

        .pictures
        {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 32px;
        }
        .picture
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 196px;

            .image
            {
                width: 120px;
                height: 120px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-bottom: 20px;
            }

            &:nth-child(2)
            {
                margin: 0 80px;
            }

            &:nth-child(1) .image
            {
                background-image: url('../../assets/public/images/alvaro_circle.png');
            }
            &:nth-child(2) .image
            {
                background-image: url('../../assets/public/images/antea_circle.png');
            }
            &:nth-child(3) .image
            {
                background-image: url('../../assets/public/images/ignacio_circle.png');
            }
        }
    }
    .button
    {
        color: white;
        text-decoration: none;
        margin-top: 48px;
        margin-bottom: 20px;

        i
        {
            margin-left: 8px;
        }
    }
}
section#happy-users
{
    position: relative;

    .background
    {
        background: $red-color-06;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .responsive-container
    {
        position: relative;
        z-index: 2;
    }
    
    .posts-wrapper
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1104px;
        margin: 0 auto;
    }
    
    .profile
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-start;
        text-decoration: none;
        margin-left: 24px;
        margin-bottom: 24px;
        
        .profile-image
        {
            position: relative;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url('../../assets/public/images/ig_profile.jpg');
            margin-right: 10px;
            border: 1px solid rgba(0,0,0,.0975);
            overflow: hidden;
            
            .profile-overlay
            {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.6);
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s opacity;
            }
        }
        &:hover .profile-image .profile-overlay
        {
            opacity: 1;
        }
        .profile-title
        {
            font-size: 16px;
            font-weight: 600;
        }
        
        @media (max-width: 1199px)
        {
            align-self: center;
            margin-bottom: 32px;
        }
    }
    .posts-container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        .ig-post
        {
            background-color: transparent;
            perspective: 1000px;
            width: 320px;
            min-height: 320px;
            margin: 0 24px 40px;
            text-decoration: none;
            
            .ig-post-inner
            {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.32s ease-in-out;
                transform-style: preserve-3d;
            }
            
            &.flipped .ig-post-inner
            {
                transform: rotateY(180deg) !important;
            }
            
            &:hover
            {
                .ig-post-inner
                {
                    transform: rotateY(180deg);
                    
                    @media (max-width: 870px)
                    {
                        transform: none;
                    }
                }
            }
            
            .ig-post-front,
            .ig-post-back
            {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                
                border-radius: 4px;
                box-shadow: 0 0 1px 0 rgba(0,0,0,0.5), 0 1px 10px 0 rgba(0,0,0,0.15);
                overflow: hidden;
            }
            
            .ig-post-front
            {
                width: 100%;
                height: 100%;
                
                .image
                {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    
                    a
                    {
                        position: absolute;
                        top: 0;
                        right: 0;   
                        left: 0;
                        bottom: 0;
                        z-index: 1;
                    }
                    .button-mobile
                    {
                        position: relative;
                        display: none;
                        z-index: 2;
                        cursor: pointer;
                        margin-bottom: 12px;
                        background: #fff;
                        border-radius: 20px;
                        box-shadow: 0 0 1px 0 rgba(0,0,0,0.6), 0 2px 8px 0 rgba(0,0,0,0.2);
                        padding: 10px 12px;
                        font-weight: 500;
                        font-size: 15px;
                        
                        @media (max-width: 870px)
                        {
                            display: block;
                        }
                    }
                }
            }
            
            .ig-post-back
            {
                position: relative;
                transform: rotateY(180deg);
                display: flex;
                align-items: center;
                background-color: #fff;
                
                a
                {
                    position: absolute;
                    top: 0;
                    right: 0;   
                    left: 0;
                    bottom: 0;
                }
                .description
                {
                    color: #000;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 17px;
                    text-decoration: none;
                    word-wrap: break-word;
                    overflow: scroll;
                    padding: 28px 24px 32px 24px;
                }
            }
        }
    }
    .button
    {
        margin-top: 20px;
        
        .icon
        {
            margin-right: 8px;
        }
    }
}
section#partners
{
    .partners-container
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        img
        {
            height: 80px;
            width: auto;
            margin: 0 48px 48px;
        }
    }
}


@media (max-width: 848px)
{
    section#verified-academies .help-container
    {
        .picture:nth-child(2)
        {
            margin: 0 48px;
        }
    }
}
@media (max-width: 800px)
{
    section#verified-academies .help-container .picture
    {
        width: 130px;
    }
}
@media (max-width: 688px)
{
    h1
    {
        font-size: 32px;
    }
    #hero
    {
        height: auto;
    }
    .hero-content
    {
        position: relative;
        left: auto;
        bottom: auto;
        transform: none;
        width: 100%;
        padding: 100px 24px 48px;
    }
    .hero-text
    {
        margin-bottom: 24px;
        margin-left: 0;

        p
        {
            font-size: 16px;
            line-height: 1.4;
        }
    }

    section#verified-academies .help-container
    {
        .picture:nth-child(2)
        {
            margin: 0 48px;
        }
    }

    section#partners
    {
        .partners-container
        {
            margin: 0 24px;

            img
            {
                margin-bottom: 40px;

                &:last-child
                {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media (max-width: 540px)
{
    section#verified-academies
    {
        .background
        {
            bottom: 280px;
        }

        .help-container
        {
            .picture,
            .picture:nth-child(2)
            {
                flex: 0.5;
                margin: 0 24px 32px;
            }
        }
    }
}
@media (max-width: 480px)
{
    h1
    {
        font-size: 28px;
    }
    h2
    {
        font-size: 28px !important;
    }

    .hero-content
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    section#top-banner
    {
        margin-top: 20px;
    }

    section#verified-academies
    {
        .cards-container
        {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .card-banner,
            .card-banner:first-child,
            .card-banner:last-child
            {
                width: 100%;
                margin: 0 auto 20px;
                max-width: 320px;
            }
        }
        .help-container
        {
            margin-top: 32px;
        }
    }
}
@media (max-width: 375px)
{
    section#verified-academies
    {
        .background
        {
            bottom: 320px;
        }
    }
}
@media (max-width: 320px)
{
    h1
    {
        font-size: 24px;
    }
}
