<div id="hero">
    <div class="gradient-overlay"></div>
    <div class="overlay"></div>
    <div class="hero-content">
        <div class="hero-text">
            <h1>Reserva tu clase de prueba en la academia ideal para ti</h1>
            <p>LOS CURSOS DE LAS MEJORES ACADEMIAS ACTUALIZADOS A DIARIO</p>
        </div>
        <app-searchbox #searchbox (onSearch)="findCourses($event)" (onFocus)="onFocusSearchbox()"></app-searchbox>
    </div>
    <div id="fixed-searchbox" [ngClass]="{'show': showFixedSearchbar}">
        <div class="responsive-container">
            <app-searchbox #fixedsearchbox [fixed]="true" [small]="true" [isHome]="true" (onSearch)="findCourses($event)" (onFocus)="onFocusSearchbox()"></app-searchbox>
        </div>
    </div>
</div>

<section id="top-banner">
    <div class="responsive-container">
        <div class="card-banner fw-600 text-center color-black-80">
            ¿No sabes tu nivel de inglés o qué certificado sacarte? <span (click)="utils.scrollToElement('footer')" class="color-red underlined cursor-pointer">Contacta con nosotros</span>
        </div>
    </div>
</section>

<section id="featured">
    <div class="responsive-container">
        <h2>Cursos más buscados</h2>
        <app-courses-carousel [courses]="featuredCourses"></app-courses-carousel>
    </div>
</section>

<section id="triptic">
    <div class="responsive-container">
        <h2>Hacemos que encontrar tu academia ideal sea fácil</h2>
        <div class="triptic-container">
            <div class="triptic-item">
                <div class="icon size-92 icon-red-search-compare"></div>
                <div class="title">Busca y compara</div>
                <div class="text color-black-80">Información de todas las academias actualizada a diario y opiniones de otros alumnos.</div>
            </div>
            <div class="triptic-item">
                <div class="icon size-92 icon-red-help"></div>
                <div class="title">Te ayudamos a elegir (si lo necesitas)</div>
                <div class="text color-black-80">Háblanos por <span class="fw-500">WhatsApp</span> y te ayudaremos gratuitamente a elegir qué opción te encaja mejor.</div>
            </div>
            <div class="triptic-item">
                <div class="icon size-92 icon-red-class"></div>
                <div class="title">Reserva al instante tu clase de prueba <span class="color-red">sin pagar nada</span></div>
                <div class="text color-black-80">Asiste a clase y decide si continúas.</div>
            </div>
        </div>
    </div>
</section>

<section id="verified-academies">
    <div class="background"></div>
    <div class="responsive-container">
        <h2><span class="green-dots">A</span>cademias verificadas por nosotros, <span class="color-green">para ti</span></h2>
        <p class="text-center fs-18">Nos aseguramos que cumplen nuestros requisitos de calidad:</p>
        <div class="cards-container">
            <div class="card-banner">
                <div class="icon size-18 icon-green-check"></div>
                <p class="color-green fw-500 fs-18"><span class="fw-700">Visitamos personalmente</span> los centros</p>
            </div>
            <div class="card-banner">
                <div class="icon size-18 icon-green-check"></div>
                <p class="color-green fw-500 fs-18"><span class="fw-700">Hablamos con alumnos</span> para saber su opinión de la academia</p>
            </div>
        </div>
        <div class="help-container">
            <p class="fs-20 fw-600 text-center">Estamos para ayudarte</p>
            <div class="pictures">
                <div class="picture">
                    <div class="image"></div>
                    <p class="text-center fs-18 fw-600">Álvaro Castro</p>
                </div>
                <div class="picture">
                    <div class="image"></div>
                    <p class="text-center fs-18 fw-600">Antea Martín</p>
                </div>
                <div class="picture">
                    <div class="image"></div>
                    <p class="text-center fs-18 fw-600">Nacho Campomanes</p>
                </div>
            </div>
            <a href="https://www.facebook.com/appcademos" target="_blank" class="button green">Mira lo que dicen de nosotros en Facebook <i class="icon size-14 icon-arrow-right-white"></i></a>
        </div>
    </div>
</section>

<section id="happy-users">
    <div class="background"></div>
    <div class="responsive-container">
        <h2>Usuarios <span class="color-red">felices</span> con sus cursos</h2>
        <div class="cards-container">
            <div class="card-banner">
                <div class="quote">“Los asesores está genial. Son como un comparador al que puedes hablar.”</div>
                <div class="author">Jorge Varade</div>
            </div>
            <div class="card-banner">
                <div class="quote">“Muy atentos y siempre disponibles para resolver mis dudas.”</div>
                <div class="author">Marta Blázquez</div>
            </div>
        </div>
    </div>
</section>

<section id="partners">
    <div class="responsive-container">
        <h2>Apoyados por</h2>
        <div class="partners-container">
            <img src="../../assets/public/images/tetuan_valley.png" />
            <img src="../../assets/public/images/club_empresarial_icade.png" />
            <img src="../../assets/public/images/seklab.png" />
            <img src="../../assets/public/images/campus_madrid.jpg" />
            <img src="../../assets/public/images/la_nave.jpg" />
        </div>
    </div>
</section>
