<div id="managerAcademy">
    <div class="responsive-container" *ngIf="academy">
        <div class="top">
            <div>
                <button
                    nz-button
                    nzSize="small"
                    nzType="link"
                    (click)="router.navigate(['/manager'])"
                >
                    <i nz-icon nzType="left"></i>Atrás
                </button>
                <div class="superTitle">ACADEMIA</div>
                <h2>{{ academy.name }}</h2>
            </div>
        </div>
        
        <section
            id="infoType2"
            class="card-banner"
            [ngClass]="{ expanded: academyInfoExpanded }"
            *ngIf="user.role == 'admin'"
        >
            <div
                class="titleContainer flex space-between align-items-baseline"
                (click)="academyInfoExpanded = !academyInfoExpanded"
            >
                <div class="title fw-600 fs-18">Info Academia <span class="color-black-50">· Info Tipo 2</span></div>
                <div class="buttons">
                    <i class="icon size-14 icon-arrow-down"></i>
                </div>
            </div>
            
            <div class="content">
                <app-createAcademyForm
                    [academy]="academy"
                    [createMode]="false"
                    (onAcademyUpdated)="getAcademy()"
                ></app-createAcademyForm>
            </div>
        </section>
        
        <section
            id="infoType3"
            class="card-banner"
            [ngClass]="{ expanded: categoriesExpanded }"
        >
            <div
                class="titleContainer flex space-between align-items-baseline"
                (click)="categoriesExpanded = !categoriesExpanded"
            >
                <div class="title fw-600 fs-18">Categorías <span class="color-black-50">· Info Tipo 4</span></div>
                <div class="buttons">
                    <i class="icon size-14 icon-arrow-down"></i>
                </div>
            </div>
            
            <div id="categories" class="content">
                <div class="categoriesContainer">
                    <div
                        class="category button white small"
                        *ngFor="let academyCategory of academy.categories"
                        [ngClass]="{ selected: selectedCategory.category.name == academyCategory.category.name }"
                        (click)="selectedCategory = academyCategory"
                    >
                        {{ academyCategory.category.name }}
                    </div>
                </div>
                <div class="line-separator"></div>
                
                <div class="quillEditorContainer">
                    <div class="title">Cómo serán las clases</div>
                    <quill-editor [(ngModel)]="selectedCategory.howAreTheClasses"></quill-editor>
                </div>
                
                <div class="quillEditorContainer">
                    <div class="title">Temario</div>
                    <quill-editor [(ngModel)]="selectedCategory.syllabus"></quill-editor>
                </div>
                
                <div class="quillEditorContainer">
                    <div class="title">Material</div>
                    <quill-editor [(ngModel)]="selectedCategory.material"></quill-editor>
                </div>
                
                <div class="buttons">
                    <button
                        nz-button
                        nzType="default"
                        nzSize="large"
                        [nzLoading]="refreshingCategories"
                        (click)="refreshCategories()"
                    >
                        Refrescar categorías
                    </button>
                    <button
                        nz-button
                        nzType="primary"
                        nzSize="large"
                        [nzLoading]="sendingCategories"
                        (click)="sendCategories()"
                    >
                        Guardar categorías
                    </button>
                </div>
            </div>
        </section>
        
        <section
            id="academyReviews"
            class="card-banner"
            [ngClass]="{ expanded: reviewsExpanded }"
            *ngIf="user.role == 'admin'"
        >
            <div
                class="titleContainer flex space-between align-items-baseline"
                (click)="reviewsExpanded = !reviewsExpanded"
            >
                <div class="title fw-600 fs-18">Opiniones <span class="color-black-50">· {{ academy.reviews.length }}</span><span class="color-yellow"> ({{ academy.averageRating.toFixed(2) }})</span></div>
                <div class="buttons">
                    <i class="icon size-14 icon-arrow-down"></i>
                </div>
            </div>
            
            <div class="content">
                <app-review-editor
                    *ngFor="let review of academy.reviews; let j = index"
                    [review]="review"
                    [academyId]="academy._id"
                    [expanded]="expandedReviewId === review._id"
                    (onExpand)="expandedReviewId = (expandedReviewId === review._id) ? null : review._id"
                    (onReviewDeleted)="onReviewDeleted($event)"
                    (onReviewUpdated)="getAcademy()"
                    (onReviewCreated)="getAcademy()"
                ></app-review-editor>
                
                <div class="newItemContainer" (click)="onCreateNewReviewItem()">
                    +
                </div>
            </div>
        </section>
        
        <div id="courses">
            <div class="titleContainer flex space-between align-items-baseline">
                <div class="title fw-600">Cursos <span class="color-black-50">· {{ academy.courses.length }} {{ (academy.courses.length == 1) ? 'curso' : 'cursos' }}</span></div>
                <div class="flex buttons">
                    <div *ngIf="selectedCourses.length > 1" class="color-green fs-13 fw-600 cursor-pointer noselect" (click)="showMultipleEditor = true">EDITAR SELECCIÓN</div>
                    <div *ngIf="selectedCourses.length > 1" class="color-black-50 fs-13 fw-600 cursor-pointer noselect" (click)="clearSelection()">CANCELAR</div>
                    
                    <div *ngIf="deleteMode" class="color-black-50 fs-13 fw-600 cursor-pointer noselect" (click)="deleteMode = false">CANCELAR</div>
                    <div *ngIf="!deleteMode && academy.courses.length > 0 && selectedCourses.length <= 1" class="color-black-50 fs-13 fw-600 cursor-pointer noselect" (click)="deleteMode = true">ELIMINAR</div>
                    
                    <div *ngIf="selectedCourses.length <= 1 && !deleteMode" class="color-orange fs-13 fw-600 cursor-pointer noselect" (click)="showCreateCourseModal = true">NUEVO</div>
                </div>
            </div>

            <div
                class="course card-banner noselect"
                [ngClass]="{'expanded': editingCourse != null && editingCourse._id === course._id, 'isHidden': course.hidden }"
                *ngFor="let course of academy.courses; let i = index"
                [attr.data-index]="i">
                <div class="header" (click)="onClickCourse(course)">
                    <div class="titleContainer">
                        <app-checkbox *ngIf="!deleteMode" (onChange)="selectCourse(course, $event)"></app-checkbox>
                        <div>
                            <div class="title fw-500">{{ i+1 }} - {{ course.title }}</div>
                            <div class="subtitleContainer flex-inline align-items-center">
                                <div *ngIf="getCourseWasUpdated(course)" class="label-tag green">Actualizado</div>
                                <div *ngIf="getCourseUpdatedError(course)" class="label-tag red">Error</div>
                                <div class="subtitle">
                                    Actualizado {{ formatDate(course.updated_at) }}&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;
                                    <span class="impressions">
                                        <span class="icon size-12 icon-eye"></span>&nbsp;{{ course.impressions }}
                                    </span>
                                    <span class="category" *ngIf="course.category.name">
                                        &nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;
                                        <span class="tag">{{ course.category.name }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rightItems">
                        <div class="price color-orange fw-600">{{ course.price }}€</div>
                        
                        <div
                            class="iconRight"
                            *ngIf="deleteMode"
                            (click)="onClickDeleteCourse($event)"
                            nz-popconfirm
                            nzTitle="¿Quieres eliminar este curso?"
                            nzOkText="Eliminar"
                            nzCancelText="Cancelar"
                            (nzOnConfirm)="sendDeleteCourse(course._id)"
                        >
                            <i class="icon size-16 icon-trash-red" [hidden]="deletingCourseId == course._id"></i>
                            <div class="spinner small" [hidden]="deletingCourseId != course._id"></div>
                        </div>
                    </div>
                </div>

                <div class="line-separator" *ngIf="editingCourse != null && editingCourse._id === course._id"></div>

                <app-createCourseForm
                    [course]="course"
                    class="formContainer"
                    (onCourseUpdated)="onCourseUpdated($event)"
                    (onCourseError)="onCourseError($event)"
                ></app-createCourseForm>
            </div>
        </div>

        <div id="multipleEditorModal" class="modal" [ngClass]="{'show': showMultipleEditor}">
            <div class="overlay" (click)="closeMultipleEditor()"></div>

            <div class="icon size-48 icon-close-circle-white cursor-pointer" (click)="closeMultipleEditor()"></div>

            <div class="responsive-container">
                <div class="cardContainer">
                    <div class="header">
                        <div class="color-black-80 fs-13 fw-600">EDICIÓN MÚLTIPLE <span class="color-black-50">· {{ selectedCourses.length }} cursos</span></div>
                        <div class="titles">
                            <span class="title" *ngFor="let selectedCourse of selectedCourses; let last = last;">
                                {{ selectedCourse.title }} ({{selectedCourse.price}}€){{ (last) ? null : ', ' }}
                            </span>
                        </div>
                    </div>
                    <div class="line-separator"></div>
                    <app-createCourseForm
                        [courses]="selectedCourses"
                        (onCoursesUpdated)="onCoursesUpdated()"
                        (onCourseUpdated)="onCourseUpdated($event)"
                        (onCourseError)="onCourseError($event)"
                    ></app-createCourseForm>
                </div>
            </div>
        </div>
        
        
        <div id="createCourseModal" class="modal" [ngClass]="{'show': showCreateCourseModal}">
            <div class="overlay" (click)="showCreateCourseModal = false"></div>

            <div class="icon size-48 icon-close-circle-white cursor-pointer" (click)="showCreateCourseModal = false"></div>

            <div class="responsive-container">
                <div class="cardContainer">
                    <div class="header">
                        <div class="title">Nuevo curso</div>
                    </div>
                    <div class="line-separator"></div>
                    <app-createCourseForm
                        [createMode]="true"
                        [academyId]="academy._id"
                        (onCourseCreated)="onCourseCreated()"
                    ></app-createCourseForm>
                </div>
            </div>
        </div>
    </div>
</div>
