<div class="responsive-container text-page">
    <h1>Política de Privacidad</h1>

    <p>Esta Política de Privacidad rige la manera en que Álvaro Castro Urdín (en adelante “yinius”) recopila, utiliza, mantiene y divulga la información recogida de los usuarios (cada uno, un “Usuario”) del sitio web("Sitio") <a href="https://www.yinius.es">https://www.yinius.es</a>. Esta política de privacidad se aplica al sitio y todos los productos y servicios ofrecidos por yinius. Al visitar <a href="https://yinius.es">https://yinius.es</a> usted está aceptando y consintiendo las prácticas descritas en esta política. Puede acceder a la política de privacidad en cualquier momento dentro de la Aplicación, desde el sitio web en <a href="https://yinius.es/privacy-policy">https://yinius.es/privacy-policy/</a>.</p>
    <p>A los efectos de la Ley de Protección de Datos de 1998 (la “Ley”), el responsable del tratamiento es yinius, de Paseo de Narcea 1 bis, San Sebastián de los Reyes, Madrid, 28707.</p>

    <h4>La información de identificación personal</h4>
    <p>Podemos recopilar información de identificación personal de los usuarios en una variedad de maneras, incluyendo, pero no limitado a, cuando los usuarios visitan nuestro sitio, reservar su plaza, llenar un formulario, responder a una encuesta, suscribirse al boletín, corresponden con nosotros a través del teléfono, correo electrónico o de otra manera (incluyendo al informar de un problema con el servidor), o en relación con las actividades de otros, servicios, funciones o recursos que ponemos a disposición en nuestro sitio. La información que a los usuarios se les puede pedir incluye, su nombre y apellidos, dirección de correo electrónico, número de teléfono y curso al que se inscriben. Ésta información se mantiene hasta que la cuenta es eliminada por el usuario.</p>
    <p>Recogemos información de identificación personal de los usuarios sólo si se someten voluntariamente tal información a nosotros. Los usuarios siempre pueden negarse a suministrar información de identificación personal, excepto que esto pueda evitar la participación en determinadas actividades relacionadas con el sitio.</p>

    <h4>Información de identificación no personal</h4>
    <p>Recogemos automáticamente información de identificación no personal sobre los usuarios cuando interactúan con nuestro sitio. Información de identificación no personal puede incluir:</p>
    <ul>
        <li>Información técnica, incluyendo el protocolo de Internet (IP) utilizada para conectar su ordenador a Internet, la información de acceso, tipo de navegador y versión, configuración de zona horaria, tipos de plug-in en el navegador, versiones y sistema operativo.</li>
        <li>Información acerca de su visita, incluyendo los localizadores de uniforme de recursos (URL) de clic a través y desde nuestro sitio (incluyendo la fecha y hora), los productos que ha visto o buscado, los tiempos de respuesta de la página, errores de descarga, la duración de las visitas a determinadas páginas, información de la interacción de página (como el desplazamiento, clics, y el ratón en off), y los métodos utilizados para navegar fuera de la página.</li>
    </ul>
    <p>Ésta información se mantiene durante un período de tiempo razonable para uso interno.</p>

    <h4>Información obtenida de otras fuentes</h4>
    <p>Trabajamos en estrecha colaboración con terceros (incluyendo por ejemplo, los socios comerciales, subcontratistas, servicios de pago y de entrega, redes de publicidad, proveedores de análisis, búsqueda de proveedores, agencias de referencia de crédito) y podríamos recibir información de identificación personal sobre usted de ellos.</p>
    <p>Utilizamos un formulario de <b>Typeform</b> con el cual recogemos los datos de aquel usuario que quiere reservar una clase de prueba en alguno de nuestros cursos. La herramienta, es utilizada como formulario. Los datos ingresados son enviados a Carrer Bac de Roda, 163, 08018 Barcelona, con C.I.F. (tax identification code) B65831836, registrados en el Registro Mercantil de Barcelona, page B-421911, folio 145, volume 43262, estando los datos recopilados a nuestra disposición. Para obtener más información sobre el procesamiento de sus datos por parte de Typeform, visite: <a href="https://www.typeform.com/">https://www.typeform.com/</a>. Ofrecemos este servicio para aumentar la satisfacción y positiva percepción por parte del cliente.</p>
    <p>Utilizamos <b>Mailchimp</b> como herramienta de gestión de campañas de email. La empresa The Rocket Science Group LLC d/b/a MailChimp, Georgia, EEUU, estando los datos recopilados a nuestra disposición. Para obtener más información sobre el procesamiento de sus datos por parte de Mailchimp, visite: <a href="https://mailchimp.com/legal/privacy/">https://mailchimp.com/legal/privacy/</a>. Ofrecemos este servicio para aumentar la satisfacción y positiva percepción por parte del cliente.</p>
    <p>Utilizamos <b>Hubspot</b> como herramienta de gestión de clientes y usuarios. También la utilizamos para analizar el comportamiento del usuario en la página web y recoger información cuantitativa y cualitativa de éste. Los datos ingresados son enviados a 25 First Street, 2nd Floor, Cambridge, MA 02141 USA. Para obtener más información sobre el procesamiento de sus datos visite: <a href="https://legal.hubspot.com/es/privacy-policy">https://legal.hubspot.com/es/privacy-policy</a>.</p>

    <h4>Cómo usamos la información recopilada</h4>
    <p>Los datos personales recabados a través del sitio web se utilizan para fines comerciales, de marketing y de gestión de plazas en los centros.
Los datos recabados a través de campañas publicitarias sirven para estudio de mercado.</p>
    <p>yinius puede utilizar la información de identificación personal y la no personal de un usuario de la siguiente manera:</p>
    <ul>
        <li>Para personalizar la experiencia del usuario mediante el uso de la información en conjunto para comprender cómo nuestros usuarios como grupo utilizan los servicios y recursos proporcionada en nuestro sitio.</li>
        <li>Para medir o entender la efectividad de la publicidad y su utilidad a usted y a los demás, y para ofrecer publicidad relevante para usted.</li>
        <li>Para procesar las reservas y llevar a cabo nuestras obligaciones derivadas de cualquier contrato entre nosotros y un usuario.</li>
        <li>Para administrar mejor nuestro sitio y las operaciones internas (incluyendo la resolución de problemas, análisis de datos, pruebas, investigación, estadística y propósitos de la encuesta);</li>
        <li>Para asegurar que los usuarios son capaces de participar en funciones interactivas de nuestro servicio, cuando un usuario decide hacerlo; mejorando el servicio al cliente.</li>
        <li>Como parte de nuestros esfuerzos para mantener nuestro sitio seguro.</li>
        <li>Para hacer sugerencias y recomendaciones a usted y otros usuarios de nuestro sitio acerca de los bienes o servicios que usted o ellos pueden interesar.</li>
    </ul>
    <p>Si el usuario decide optar en nuestra lista de correo, recibirán correos electrónicos que pueden incluir, sin limitación, noticias de la compañía, actualizaciones, productos relacionados o información relacionada con nuestros servicios o nuestra línea de comunicación para arraigar nuestra imagen de marca. Si en cualquier momento el usuario desea dejar de recibir futuros correos electrónicos, incluimos instrucciones detalladas para darse de baja en la parte inferior de cada correo electrónico o el usuario puede ponerse en contacto con nosotros a través de nuestro sitio o mediante los datos que se proporcionan a continuación (ver 'Cómo ponerse en contacto con nosotros').</p>

    <h4>Cómo protegemos su información</h4>
    <p>Una vez que hemos recibido su información, adoptaremos la recopilación de datos adecuada, las prácticas de almacenamiento y procesamiento y las medidas de seguridad para proteger contra el acceso no autorizado, alteración, divulgación o destrucción de su información personal, nombre de usuario, contraseña, información de reservas y datos almacenados en nuestro sitio. Desafortunadamente, la transmisión de información a través de Internet no es completamente segura. Aunque haremos todo lo posible para proteger sus datos personales, no podemos garantizar la seguridad de sus datos transmitidos a nuestro sitio; cualquier transmisión es a su propio riesgo.</p>
    <p>Para proteger la información sensible y privada que incluye el intercambio de datos entre el sitio y sus usuarios pasa por un canal de comunicación SSL segura y cifrada y protegida con firmas digitales.</p>
    <p>Si le hemos dado (o donde se haya elegido) una contraseña que le permite acceder a ciertas partes de nuestro sitio, usted es responsable de mantener su confidencialidad. Les pedimos que no comparta la contraseña con nadie.</p>

    <h4>Compartir su información personal</h4>
    <p>No vendemos, comercializamos ni alquilamos la información de identificación personal a terceros.</p>
    <p>Siempre que usted nos haya dado su permiso, podremos compartir información demográfica genérica no vinculada a ninguna información de identificación personal sobre los visitantes y usuarios con terceros seleccionados que incluyen:</p>
    <ul>
        <li>Los socios comerciales, proveedores y subcontratistas para la ejecución de cualquier contrato que hagamos con usted.</li>
        <li>Los anunciantes y redes publicitarias que requieren los datos para seleccionar y servir anuncios relevantes para usted y otros. </li>
        <li>Analytics y proveedores de motores de búsqueda que nos ayudan en la mejora y optimización de nuestro sitio.</li>
    </ul>
    <p>Si se han recogido los datos de que dentro del Espacio Económico Europeo ( “EEE”), los datos que recogemos pueden ser transferidos a, y almacenados en un destino fuera del EEE. También pueden ser procesados por personal fuera del EEE que trabajan para nosotros o para uno de nuestros proveedores. Dicho personal puede estar involucrados en, entre otras cosas, el cumplimiento de su pedido, el procesamiento de los datos de pago y la prestación de servicios de apoyo. Al enviar sus datos personales, usted acepta esta transferencia, almacenamiento o procesamiento. Tomaremos todas las medidas razonablemente necesarias para garantizar que sus datos son tratados de forma segura y de acuerdo con esta política de privacidad.</p>
    <p>Podemos revelar su información personal a terceros:</p>
    <ul>
        <li>En el caso de reserva de plaza. La única información que es proporcionada, son los datos introducidos para reservar la clase de prueba. Estos datos deben ser transmitidos por necesidad del centro, que debe saber quién ha reservado una plaza en uno de sus cursos para poder ofrecer el mejor servicio al usuario. El tratamiento de estos datos es responsabilidad de cada centro y viene regulado por las Políticas de Privacidad de cada uno de éstos.</li>
        <li>Si yinius o sustancialmente todos sus activos sean adquiridos por un tercero, en cuyo caso los datos personales recogidos por sobre sus clientes será uno de los activos transferidos; o</li>
    </ul>
    <p>Si nos vemos en la obligación de revelar o compartir sus datos personales con el fin de cumplir con cualquier obligación legal, o con el fin de hacer cumplir o aplicar nuestros términos y condiciones de la oferta (que se puede encontrar en <a href="https://yinius.es/es/terms-conditions/">https://yinius.es/es/terms-conditions/</a>) y otros acuerdos; o para proteger los derechos, propiedad o seguridad de yinius, nuestros clientes, u otros. Esto incluye el intercambio de información con otras compañías y organizaciones para fines de protección contra el fraude y la reducción del riesgo de crédito.</p>

    <h4>Sitios web de terceros</h4>
    <p>Los usuarios pueden encontrar publicidad u otro contenido en nuestro sitio que enlace a los sitios y servicios de nuestros socios, proveedores, anunciantes, patrocinadores, concesionarios y otros terceros. No tenemos control sobre el contenido o enlaces que aparecen en estos sitios y no somos responsables de las prácticas empleadas por sitios web vinculados hacia o desde nuestro sitio. Además, estos sitios o servicios, incluyendo su contenido y enlaces, pueden estar cambiando constantemente. Estos sitios y servicios pueden tener sus propias políticas de privacidad y las políticas de servicio al cliente. Navegación e interacción en cualquier otro sitio web, incluyendo sitios web que tienen un enlace a nuestro sitio, está sujeto a los propios términos y políticas de ese sitio web.</p>

    <h4>Sus derechos</h4>
    <p>Usted tiene el derecho de pedirnos que no procesemos sus datos personales con fines de marketing. Le informaremos (antes de recopilar sus datos) si tenemos la intención de utilizar sus datos para estos fines o si tenemos la intención de divulgar su información a terceros para tales fines.</p>
    <p>Nuestros Servicios y la documentación relacionada le brindan la capacidad de eliminar su información pudiendo realizarlo dentro de la configuración de su perfil o solicitándolo por email. Hay datos que por su naturaleza nos son requeridos para justificar la relación comercial (Agencia tributaria) y por lo tanto debemos conservar a pesar de que nos retire su consentimiento. Solamente conservaremos su información, mientras exista una relación contractual o comercial con nosotros. O bien mientras Vd. no ejerza ninguno de los derechos que hagan que no podamos conservar sus datos.</p>

    <h4>Cambios en esta política de privacidad</h4>
    <p>yinius tiene la facultad de actualizar esta política de privacidad en cualquier momento. Cualquier cambio que tenga lugar en nuestra política de privacidad en el futuro será publicado en esta página y, en su caso, se le notificará por correo electrónico.</p>
    <p>Animamos a los usuarios a comprobar con frecuencia esta página para mantenerse informado acerca de cómo estamos ayudando a proteger la información personal que recopilamos. Usted reconoce y acepta que es su responsabilidad revisar esta política de privacidad periódicamente y tomar conciencia de las modificaciones. Su uso continuado del Sitio después de la publicación de cambios a esta política será considerado su aceptación de dichos cambios.</p>

    <h4>El acceso a la información</h4>
    <p>Como titular de derechos, vd. tiene el control de sus datos y puede acceder a su información, y por lo tanto en cualquier momento puede ejercitar sus derechos, enviándonos un mail a: <a href="mailto:hello@yinius.es">hello@yinius.es</a></p>
    <p>Los derechos que puede ejercitar son:</p>
    <ul>
        <li>Derecho de Acceso.</li>
        <li>Derecho de Rectificación y supresión.</li>
        <li>Derecho al olvido.</li>
        <li>Derecho de oposición.</li>
        <li>Limitación al tratamiento.</li>
        <li>Portabilidad.</li>
    </ul>
    <p>Todos sus derechos puede solicitarlos indicando su nombre y haciéndonos llegar una fotocopia de su identificación con la solicitud. Esta solicitud es gratuita.</p>

    <h4>Cómo ponerse en contacto con nosotros</h4>
    <p>Si usted tiene alguna pregunta sobre esta Política de Privacidad, las prácticas de este sitio, o sus relaciones con este sitio, por favor, póngase en contacto con nosotros en:</p>
    <p>
        <b>yinius</b>
        <br/>
        <a href="https://yinius.es/">https://yinius.es/</a>
        <br/>
        Paseo de Narcea 1 bis, San Sebastián de los Reyes, Madrid, 28707.
        <br/>
        <a href="mailto:hello@yinius.es">hello@yinius.es</a>
    </p>

    <br/>
    <br/>
    <p>Última actualización: diciembre 2018.</p>
</div>
