<div class="form full-width">
      <div class="form-group">
        <label>Nombre<span *ngIf="createMode || this.academy != null">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name">
      </div>
      <div class="form-group">
        <label>Dirección<span *ngIf="createMode || this.academy != null">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="address" name="address">
      </div>
      <div class="form-group-container">
          <div class="form-group">
            <label>Latitud<span *ngIf="createMode || this.academy != null">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="latitude" name="latitude">
          </div>
          <div class="form-group">
            <label>Longitud<span *ngIf="createMode || this.academy != null">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="longitude" name="longitude">
          </div>
      </div>
      <div class="form-group-container">
          <div class="form-group">
            <label>Distrito<span *ngIf="createMode || this.academy != null">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="district" name="district">
          </div>
          <div class="form-group">
            <label>Ciudad<span *ngIf="createMode || this.academy != null">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="city" name="city">
          </div>
      </div>

      <button
          nz-button
          [nzLoading]="loading"
          nzType="primary"
          nzBlock="true"
          nzSize="large"
          (click)="onPressMainButton()"
      >
          {{ createMode ? 'Crear academia' : 'Guardar academia' }}
      </button>
</div>