<div class="responsive-container text-page">
    <h1>Política de Cookies</h1>

    <h4>Cookies del navegador Web</h4>

    <p>Nuestro sitio puede utilizar “cookies” para distinguir entre los usuarios del sitio. Esto nos permite mejorar la experiencia de nuestros usuarios y también mejorar el sitio.</p>

    <h4>¿Qué son las cookies?</h4>

    <p><b>Appcademos.com (en adelante el “sitio”)</b> utiliza cookies para distinguir a los usuarios del sitio. Esto nos ayuda a proporcionarle una buena experiencia al navegar por nuestro sitio y también nos permite mejorar nuestro sitio. Al continuar la navegación por el sitio, usted acepta el uso de cookies.</p>
    <p>Una cookie es un pequeño archivo de letras y números que almacenamos en su navegador o el disco duro de su ordenador si usted está de acuerdo. Las cookies contienen información que se transfiere al disco duro de su ordenador.</p>

    <h4>Consentimiento</h4>
    <p>Te informamos de que podemos utilizar cookies en tu equipo a condición de que hayas dado tu consentimiento, salvo en los supuestos en los que las cookies sean necesarias para la navegación por nuestro sitio web. En caso de que prestes tu consentimiento, podremos utilizar cookies que nos permitirán tener más información acerca de tus preferencias y personalizar nuestro sitio web de conformidad con tus intereses individuales.</p>

    <h4>Utilizamos las siguientes cookies:</h4>
    <ul>
        <li><b>Cookies estrictamente necesarias.</b> Estas son las Cookies que se requieren para la operación de nuestro sitio. Incluyen, por ejemplo, las cookies que le permiten conectarse a las áreas seguras de nuestro sitio, utilizar un carrito de compras o hacer uso de los servicios de facturación electrónica.</li>
        <li><b>Cookies de análisis / rendimiento.</b> Estas nos permiten reconocer y contar el número de visitantes y ver cómo los visitantes se mueven alrededor de nuestro sitio cuando lo están usando. Esto nos ayuda a mejorar la forma en que funciona nuestro sitio, por ejemplo, asegurando que los usuarios encuentran lo que buscan de forma fácil.</li>
        <li><b>Cookies de funcionalidad.</b> Estos se utilizan para reconocer usuarios cuando regresan a nuestro sitio. Esto nos permite personalizar nuestro contenido para usted, saludarle por su nombre y recordar sus preferencias (por ejemplo, la elección de idioma o región).</li>
        <li><b>Cookies de orientación.</b> Estas Cookies registran su visita a nuestro sitio, las páginas que ha visitado y los enlaces que ha seguido. Vamos a utilizar esta información para hacer nuestro sitio y la publicidad que se muestra en ella más relevantes para sus intereses. También podemos compartir esta información con terceros para este propósito.</li>
    </ul>
    <p>Tenga en cuenta que los terceros (incluyendo, por ejemplo, las redes y los proveedores de servicios externos, como los servicios de análisis de tráfico web de publicidad) pueden también utilizar cookies, sobre las que no tenemos control. Estas Cookies son probablemente las Cookies de análisis / rendimiento o las Cookies de orientación.</p>
    <p>Puede bloquear las cookies activando la configuración en su navegador que le permite rechazar la configuración de todas o algunas Cookies. Sin embargo, si se utiliza la configuración del navegador para bloquear todas las cookies (incluyendo las cookies esenciales) no podrá acceder a la totalidad o partes de nuestro sitio.</p>

    <h4>Cambios en la Política de Cookies</h4>
    <p>La presente Política de Cookies se podrá modificar cuando así lo exija la legislación vigente en cada momento o cuando hubiera alguna variación en el tipo de cookies utilizadas en el sitio web. Por ello, le recomendamos revisar esta política cada vez que acceda a nuestro sitio web con el objetivo de estar adecuadamente informado sobre cómo y para qué usamos las cookies.</p>
</div>
