.form-group-container
{
    display: flex;

    .form-group
    {
        flex: 1;

        &:first-child
        {
            margin-right: 8px;
        }
        &:last-child
        {
            margin-left: 8px;
        }
        
        .checkboxContainer
        {
            height: 38px;
            display: flex;
            align-items: center;
        }
    }
}
