<ng-template #starTemplate let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">★</span>
        ★
    </span>
</ng-template>


<div *ngIf="courseObj">
    <div *ngIf="false" class="whatsappBanner">
        <div class="responsive-container">
            <div class="title"><div class="dot-pulse"></div><div>COVID-19: Este curso se imparte online.</div></div>
        </div>
    </div>
    
    <div class="responsive-container">
        <div class="button small noshadow favButton" (click)="onClickFavButton()">
            <ng-lottie
               [options]="lottieConfig"
               width="26px"
               height="26px"
               (animationCreated)="handleHeartAnimation($event)">
             </ng-lottie>
             <div class="title">
                 {{
                     isFavorite ? 'Añadido a favoritos' : 'Añadir a favoritos'
                 }}
             </div>
        </div>
        
        <div class="title-view">
            <div class="left">
                <div class="academy">
                    <h2 class="color-black-80">ACADEMIA {{ courseObj.course.academy.name.toUpperCase() }}</h2>
                    <div class="verified"><i class="icon size-9 icon-green-check"></i>VERIFICADA</div>
                </div>
                <h1>{{ courseObj.course.title }}</h1>
                <div
                    class="course-rating"
                    *ngIf="courseObj.course.academy.isVerified && courseObj.course.academy.reviews.length > 0"
                    (click)="utils.scrollToElement('#reviews', undefined, 40)"
                >
                    <nz-rate [(ngModel)]="reviewsAverage" nzDisabled nzAllowHalf></nz-rate>
                    <p>{{ courseObj.course.academy.reviews.length }}</p>
                </div>
            </div>
            <div class="right">
                <div class="old-price fw-500" *ngIf="courseObj.course.oldPrice">{{ courseObj.course.oldPrice }}€</div>
                <div class="price color-orange fw-600">{{ courseObj.course.price }}€ <!--<span class="small">al mes</span>--></div>
            </div>
        </div>
    </div>

    <div id="gallery" class="noselect">
        <div class="left-area" *ngIf="(courseImages != null && courseImages.length > 0)">
            <i class="icon size-42 icon-arrow-left-white"></i>
        </div>
        <div class="right-area" *ngIf="(courseImages != null && courseImages.length > 0)">
            <i class="icon size-42 icon-arrow-right-white"></i>
        </div>

        <div class="background" [style.backgroundImage]="'url(' + currentGalleryImage + ')'">
            <div *ngIf="(courseImages != null && courseImages.length > 0)" class="overlay"></div>
        </div>

        <div class="gallery-items">
            <div class="gallery-item" *ngFor="let image of courseImages; let last = last">
                {{ onGalleryLoopFinished(last) }}
                <div class="image" [style.backgroundImage]="'url(' + image + ')'"></div>
            </div>
        </div>
    </div>

    <div class="responsive-container">
        <section id="info-box" class="card-banner">
            <div class="update-info">
                <span class="circle"></span>Información actualizada por la academia a las {{ getUpdatedDate(courseObj.course.updated_at) }}
            </div>
            
            <div class="content-container">
                <div class="col-section">
                    <div class="group">
                        <div class="title">Inicio del curso</div>
                        <div class="text fs-20">{{ courseObj.course.startDate | date: "dd-MM-yyyy" }}</div>
                    </div>
                    <div class="group">
                        <div class="title">Nº de horas</div>
                        <div class="text fs-20">{{ courseObj.course.hours }}</div>
                    </div>
                </div>
                <div class="col-section" *ngIf="courseObj.course.academy.isVerified">
                    <div class="group">
                        <div class="title">Horarios</div>
                        <div class="radio-container" *ngFor="let group of courseObj.course.group; let i = index">
                            <label>{{ group }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-section address">
                    <div class="group" *ngIf="courseObj.course.academy.address != null && courseObj.course.academy.address.length > 0">
                        <div class="title">Dirección</div>
                        <div *ngIf="courseObj.course.modality !== 'online'" class="text">{{ courseObj.course.academy.address }}</div>
                        <div *ngIf="courseObj.course.modality === 'online'" class="text">Este curso se imparte <span class="fw-600">ONLINE</span></div>
                        <div *ngIf="courseObj.course.modality !== 'online'" class="color-black-60 fs-13 fw-500 cursor-pointer noselect" (click)="utils.scrollToElement('#location')">Ver mapa</div>
                    </div>
                    <div class="group" *ngIf="courseObj.course.sizeClass">
                        <div class="title">Nº máximo alumnos</div>
                        <div class="text fs-20">{{ courseObj.course.sizeClass }}</div>
                    </div>
                </div>
                
                <div class="separator"></div>
                
                <div class="col-section important" *ngIf="false">
                    <div class="group">
                        <div class="title">Importante</div>
                        <div class="text">
                            <ul>
                                <li>El precio es <span class="fw-600 color-green">10€ menor</span> que si te apuntas en la academia</li>
                                <li>Clase gratis al reservar por aquí</li>
                                <li>Tu plaza se reserva al instante</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="separator" *ngIf="false"></div>
                
                <div class="col-section price">
                    <div class="group">
                        <div class="title">Precio</div>
                        <div class="text">
                            <span class="old-price fs-20 fw-500" *ngIf="courseObj.course.oldPrice">{{ courseObj.course.oldPrice }}€</span>
                            <span class="price fs-24 fw-600 color-orange">{{ courseObj.course.price }}€ <!--<span class="small">al mes</span>--></span>
                        </div>
                    </div>
                    
                    <!--<div class="button light-shadow" *ngIf="courseObj.course.academy.isVerified && !courseObj.course.isBooked" [routerLink]="checkoutRouterParams">Reserva de plaza</div>-->
                    <div class="button light-shadow" [routerLink]="pedirInfoRouterParams">Pedir más información</div>
                    <!--<div class="bookingInfo" *ngIf="courseObj.course.academy.isVerified && !courseObj.course.isBooked">*Sin tarjeta de crédito</div>-->
                    
                    <div class="booked label-tag red large" *ngIf="courseObj.course.isBooked">COMPLETO</div>
                    
                    <div class="fixed-button">
                        <!--<div class="button light-shadow" *ngIf="courseObj.course.academy.isVerified && !courseObj.course.isBooked" [routerLink]="checkoutRouterParams">Reserva de plaza</div>-->
                        <div class="button light-shadow" [routerLink]="pedirInfoRouterParams">Pedir más información</div>
                        <!--<div class="bookingInfo fixed" *ngIf="courseObj.course.academy.isVerified && !courseObj.course.isBooked">*Sin tarjeta de crédito</div>-->
                        
                        <div class="booked label-tag red large" *ngIf="courseObj.course.isBooked">COMPLETO</div>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="button small noshadow favButton mobile full-width" (click)="onClickFavButton()">
            <ng-lottie
               [options]="lottieConfig"
               width="30px"
               height="30px"
               (animationCreated)="handleHeartAnimation($event, true)">
             </ng-lottie>
             <div class="title">
                 {{
                     isFavorite ? 'Añadido a favoritos' : 'Añadir a favoritos'
                 }}
             </div>
        </div>

        <section class="warning-box" *ngIf="showWarningbox">
            <b>*Importante: Este curso es para mejorar tu inglés y conseguir un nivel de {{ courseObj.course.category.name.toUpperCase() }}</b> según el Marco Común Europeo. Este curso NO es para prepararte ningún examen certificado.
        </section>

        <section id="expandible-info">
            <div class="expandible-item" id="expandible-item-1" *ngIf="courseObj.course.category.forYouIf && courseObj.course.category.forYouIf.length > 0">
                <div class="top noselect" (click)="expandItem('expandible-item-1')">
                    <i class="icon size-14 icon-arrow-down"></i>
                    <i class="icon size-20 icon-like-green"></i>
                    <h2 class="title">Este curso es para ti si…</h2>
                </div>
                <div class="content">
                    <div class="content-container" innerHTML="{{ courseObj.course.category.forYouIf }}"></div>
                </div>
            </div>
            <div class="expandible-item" id="expandible-item-2" *ngIf="courseObj.course.category.coursesInfo && courseObj.course.category.coursesInfo.length > 0">
                <div class="top noselect" (click)="expandItem('expandible-item-2')">
                    <i class="icon size-14 icon-arrow-down"></i>
                    <i class="icon size-20 icon-info-green"></i>
                    <h2 class="title">Qué debes saber sobre este curso</h2>
                </div>
                <div class="content">
                    <div class="content-container" innerHTML="{{ courseObj.course.category.coursesInfo }}"></div>
                </div>
            </div>
            <div class="expandible-item" id="expandible-item-3" *ngIf="courseObj.course.academyCategory && courseObj.course.academyCategory.howAreTheClasses && courseObj.course.academyCategory.howAreTheClasses.length > 0">
                <div class="top noselect" (click)="expandItem('expandible-item-3')">
                    <i class="icon size-14 icon-arrow-down"></i>
                    <i class="icon size-20 icon-class-green"></i>
                    <h2 class="title">Cómo serán las clases</h2>
                </div>
                <div class="content">
                    <div class="content-container" innerHTML="{{ courseObj.course.academyCategory.howAreTheClasses }}"></div>
                </div>
            </div>
            <div class="expandible-item" id="expandible-item-4" *ngIf="courseObj.course.academyCategory && ((courseObj.course.academyCategory.syllabus && courseObj.course.academyCategory.syllabus.length > 0) || (courseObj.course.academyCategory.material && courseObj.course.academyCategory.material.length > 0))">
                <div class="top noselect" (click)="expandItem('expandible-item-4')">
                    <i class="icon size-14 icon-arrow-down"></i>
                    <i class="icon size-20 icon-book-green"></i>
                    <h2 class="title">Temario y material</h2>
                </div>
                <div class="content">
                    <div class="content-container">
                        <div class="sub-section" *ngIf="courseObj.course.academyCategory.syllabus && courseObj.course.academyCategory.syllabus.length > 0">
                            <div class="title">Temario</div>
                            <div innerHTML="{{ courseObj.course.academyCategory.syllabus }}"></div>
                        </div>
                        <div class="sub-section" *ngIf="courseObj.course.academyCategory.material && courseObj.course.academyCategory.material.length > 0">
                            <div class="title">Material</div>
                            <div innerHTML="{{ courseObj.course.academyCategory.material }}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="expandible-item" id="expandible-item-5" *ngIf="courseObj.course.academy.whyChooseMe && courseObj.course.academy.whyChooseMe.length > 0">
                <div class="top noselect" (click)="expandItem('expandible-item-5')">
                    <i class="icon size-14 icon-arrow-down"></i>
                    <i class="icon size-20 icon-graduation-green"></i>
                    <h2 class="title">¿Por qué elegir la academia <span class="color-green">{{ courseObj.course.academy.name }}</span>?</h2>
                </div>
                <div class="content">
                    <div class="content-container" innerHTML="{{ courseObj.course.academy.whyChooseMe }}"></div>
                </div>
            </div>
            
            <div class="expandible-item" id="expandible-item-9">
                <div class="top noselect" (click)="expandItem('expandible-item-9')">
                    <i class="icon size-14 icon-arrow-down"></i>
                    <i class="icon size-22 icon-yinius"></i>
                    <h2 class="title">Beneficios de reservar con <span class="color-orange">yinius</span></h2>
                </div>
                <div class="content">
                    <div class="content-container">
                        <ul>
                            <li><span class="fw-600">Centro de calidad verificado.</span> Puedes estar tranquil@, estás reservando en un centro que cumple con los requisitos de calidad verificados por nuestros expertos.</li>
                            <li>Un <a href="/estudio-personalizado" target="_blank" class="fw-600">experto en inglés</a> a tu disposición para ayudarte a decidir si este es el mejor curso y academia para ti.</li>
                            <li><span class="fw-600">Opiniones verificadas</span> de estudiantes que han pasado por la academia para ayudarte a comparar.</li>                            
                        </ul>
                    </div>
                </div>
            </div>
            
            <div *ngIf="false" class="expandible-item" id="expandible-item-7">
                <div class="top noselect" (click)="expandItem('expandible-item-7')">
                    <i class="icon size-14 icon-arrow-down"></i>
                    <i class="icon size-20 icon-free-green"></i>
                    <h2 class="title">Cómo conseguir tu clase de prueba gratis</h2>
                </div>
                <div class="content">
                    <div class="content-container">
                        <p><span class="fw-600">En yinius queremos que estés 100% segur@ de que este curso es el ideal para ti.</span> Por ello, tienes una clase de prueba gratis.</p>
                        <br>
                        <div class="fw-700">¿Cómo conseguirla?</div>
                        <br>
                        <ol *ngIf="courseObj.course.academy.isVerified">
                          <li><span class="fw-600">Reservas tu plaza en nuestra web..</span></li>
                          <li><span class="fw-600">Enseñas el correo de confirmación de tu plaza</span> de yinius que te llegará tras realizar la reserva.</li>
                          <li><span class="fw-600">Vas el día y hora que elegiste</span> que te aparece en el correo.</li>
                          <div>* Si tras probar no te ha gustado, no pasa nada, puedes irte tranquilamente. Te ayudaremos a encontrar tu curso ideal en otro centro.</div>
                        </ol>
                        
                        <div *ngIf="!courseObj.course.academy.isVerified">
                            <p>Contacta con nuestro equipo de expertos para conseguir tu clase de prueba.</p>
                        </div>
                        <br/>
                        <ul *ngIf="!courseObj.course.academy.isVerified">
                          <li><a href="https://wa.me/34686067460" target="_blank">WhatsApp: Chatea con un experto</a></li>
                          <li><a href="tel:+34686067460" target="_blank">+34 686 067 460: Llama a un experto</a></li>
                        </ul>
                        
                        <br/>
                        <div><p>En esta clase de prueba, tendrás la misma experiencia que si estuvieras apuntad@. <span class="fw-600">Conocerás a tu profesor@, verás la metodología, el nivel de tus compañeros...</span></p></div>
                    </div>
                </div>
            </div>

            <div class="expandible-item" id="expandible-item-10">
                <div class="top noselect" (click)="expandItem('expandible-item-10')">
                    <i class="icon size-14 icon-arrow-down"></i>
                    <i class="icon size-22 icon-eye"></i>
                    <h2 class="title"> Preguntas frecuentes sobre este curso</h2>
                </div>
                <div class="content">
                    <div class="content-container">
                        <div class="sub-section">
                            <div class="title">No sé qué nivel de inglés tengo, ¿qué puedo hacer?</div>
                            <p>Si no sabes qué nivel de inglés tienes no hay problema. Reserva en el curso que tú crees que necesitas y en la academia te harán un test de nivel y te podrán reubicar a la clase adecuada.</p>
                        </div>
                        <div class="sub-section">
                            <div class="title">No sé qué curso de inglés necesito ¿qué puedo hacer?</div>
                            <p>Si no tienes claro qué curso de inglés necesitas, nosotros podemos ayudarte haciéndote un estudio personalizado de tu perfil. Solo tienes que hablarnos por el chat o por <a href="https://wa.me/34686067460" target="_blank" class="fw-600 color-green">WhatsApp</a>.</p>
                        </div>
                        <div class="sub-section">
                            <div class="title">¿Dónde pago el curso?</div>
                            <p>Pagas en la academia. Recuerda enseñarles el correo de confirmación de reserva que te enviamos para que te hagan el descuento 😉</p>
                        </div>
                        <div class="sub-section">
                            <div class="title">Mi objetivo es sacarme un certificado ¿Cuánto tiempo tardaré en aprobarlo?</div>
                            <p>La media de tiempo para aprobar un certificado, dando por hecho que tienes el nivel de inglés adecuado, es de 3 meses yendo 2 veces a clase por semana. Este tiempo puede variar dependiendo del tiempo extra que le dediques en tu casa.</p>
                        </div>
                        <div class="sub-section">
                            <div class="title">Mi objetivo es mejorar mi nivel de inglés ¿Cuánto tiempo tardaré en subir de nivel?</div>
                            <p>Según el Marco Común Europeo, yendo 2 días a clase por semana, tardarás año/año y medio en subir un nivel completamente (subir de un B2 a un C1, por ejemplo). Este tiempo puede variar dependiendo del tiempo extra que le dediques en tu casa.</p>
                        </div>
                        <div class="sub-section">
                            <div class="title">¿La información de esta web está actualizada?</div>
                            <p>La información de cada curso es actualizada por la propia academia semanalmente. Puedes ver la última vez que actualizaron la información justo debajo de las fotos del curso.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="reviews" *ngIf="courseObj.course.academy.isVerified && courseObj.course.academy.reviews != null && courseObj.course.academy.reviews.length > 0">
            <h2>Opiniones verificadas de alumnos</h2>
            <div class="fs-14 fw-500 color-black-60">Solo pueden comentar los estudiantes que se hayan apuntado a esta academia.</div>
            <div class="rating">
                <nz-rate [(ngModel)]="reviewsAverage" nzDisabled nzAllowHalf></nz-rate>
                <p> ·&nbsp;&nbsp;&nbsp;{{ courseObj.course.academy.reviews.length }} Opiniones</p>
            </div>
            
            <div class="reviews-filter noselect">
                <div class="title">Puntuación de alumnos</div>
                <form>
                    <div class="filter" (click)="onClickReviewFilter(5, $event)">
                        <app-radio name="reviewsfilter" [checked]="reviewsFilterGrade === 5"></app-radio>
                        <nz-rate [ngModel]="5" nzDisabled [ngModelOptions]="{standalone: true}"></nz-rate>
                        <div class="totalReviews">{{ getTotalReviews(5) }}</div>
                    </div>
                    <div class="filter" (click)="onClickReviewFilter(4, $event)">
                        <app-radio name="reviewsfilter" [checked]="reviewsFilterGrade === 4"></app-radio>
                        <nz-rate [ngModel]="4" nzDisabled [ngModelOptions]="{standalone: true}"></nz-rate>
                        <div class="totalReviews">{{ getTotalReviews(4) }}</div>
                    </div>
                    <div class="filter" (click)="onClickReviewFilter(3, $event)">
                        <app-radio name="reviewsfilter" [checked]="reviewsFilterGrade === 3"></app-radio>
                        <nz-rate [ngModel]="3" nzDisabled [ngModelOptions]="{standalone: true}"></nz-rate>
                        <div class="totalReviews">{{ getTotalReviews(3) }}</div>
                    </div>
                    <div class="filter" (click)="onClickReviewFilter(2, $event)">
                        <app-radio name="reviewsfilter" [checked]="reviewsFilterGrade === 2"></app-radio>
                        <nz-rate [ngModel]="2" nzDisabled [ngModelOptions]="{standalone: true}"></nz-rate>
                        <div class="totalReviews">{{ getTotalReviews(2) }}</div>
                    </div>
                    <div class="filter" (click)="onClickReviewFilter(1, $event)">
                        <app-radio name="reviewsfilter" [checked]="reviewsFilterGrade === 1"></app-radio>
                        <nz-rate [ngModel]="1" nzDisabled [ngModelOptions]="{standalone: true}"></nz-rate>
                        <div class="totalReviews">{{ getTotalReviews(1) }}</div>
                    </div>
                </form>
            </div>

            
            <div class="carousel-container" *ngIf="reviews != null" [style.opacity]="reviewsCarouselReady ? 1 : 0">
                <div class="carousel">
                    <div class="review-group" *ngFor="let reviewGroup of reviews; let last = last">
                        <div class="review" *ngFor="let review of reviewGroup">
                            <div class="initials icon size-44">
                                {{ getNameInitials(null, review) }}
                                <div class="image" *ngIf="review.author && review.author.imageUrl" [ngStyle]="{'background-image': 'url('+review.author.imageUrl+')'}"></div>
                            </div>
                            <div>
                                <div class="top">
                                    <div class="author-container">
                                        <div class="author">{{ (review.author != null) ? ((review.author.lastName) ? (review.author.name + ' ' + review.author.lastName) : (review.author.name || "Anónimo")) : ((review.guestName != null) ? review.guestName : "Anónimo") }}</div>
                                        <nz-rate class="small rating" [(ngModel)]="review.grade" nzDisabled nzAllowHalf></nz-rate>
                                    </div>
                                    <div class="date">{{ getReviewDate(review.created_at) }}</div>
                                </div>
                                <div class="text">{{ review.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay"></div>
                <div class="prev-button">
                    <i class="icon size-22 icon-arrow-left"></i>
                </div>
                <div class="next-button">
                    <i class="icon size-22 icon-arrow-right"></i>
                </div>
                
                <div class="warning-box" *ngIf="reviews.length === 0">
                    No se han encontrado opiniones.<br/>
                    Prueba a cambiar el <span class="fw-600">filtro de puntuación</span>.
                </div>
                
                <div class="loading" [hidden]="!filteringReviews">
                    <div class="spinner green"></div>
                    <div class="overlay"></div>
                </div>
            </div>

            <div class="comment-container">
                <div class="title fs-18 fw-600">Opina sobre la academia</div>
                <div class="rating">
                    <div class="title fs-15 fw-500 color-black-80">Tu puntuación:</div>
                    <nz-rate [(ngModel)]="commentGrade"></nz-rate>
                </div>
                <textarea
                    name="comment"
                    rows="4"
                    maxlength="300"
                    [(ngModel)]="comment"
                    placeholder="Rellena tu puntuación y escribe aquí tu opinión...">
                </textarea>
                <div class="button green medium light-shadow" (click)="publishComment()">Publicar</div>

                <div class="overlay" [hidden]="!publishingComment">
                    <div class="spinner green"></div>
                </div>

                <div class="overlay completed" [hidden]="!commentPublished">
                    <div class="color-green fs-20 fw-500">¡Tu opinión se ha publicado!</div>
                </div>
            </div>
        </section>

        <section id="location" *ngIf="courseObj.course.modality !== 'online' && courseObj.course.academy.location != null && courseObj.course.academy.location.coordinates != null && courseObj.course.academy.location.coordinates.length == 2">
            <h2>Dirección</h2>
            <p>{{ courseObj.course.academy.address }}</p>
            <div #map class="map"></div>
        </section>
    </div>

    <section id="similar-courses">
        <div class="responsive-container">
            <h2>Cursos similares</h2>
            <app-courses-carousel [courses]="similarCourses"></app-courses-carousel>
        </div>
    </section>
</div>
