@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");

* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.noscroll {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.button,
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
}

.is-ios * {
    cursor: pointer;
}

a {
    color: inherit;
}

a:hover,
a:visited {
    color: inherit;
}

p {
    margin: 0;
}

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon.size-7 {
    height: 7px;
    width: 7px;
}

.icon.size-9 {
    height: 9px;
    width: 9px;
}

.icon.size-10 {
    height: 10px;
    width: 10px;
}

.icon.size-12 {
    height: 12px;
    width: 12px;
}

.icon.size-13 {
    height: 13px;
    width: 13px;
}

.icon.size-14 {
    height: 14px;
    width: 14px;
}

.icon.size-15 {
    height: 15px;
    width: 15px;
}

.icon.size-16 {
    height: 16px;
    width: 16px;
}

.icon.size-18 {
    height: 18px;
    width: 18px;
}

.icon.size-20 {
    height: 20px;
    width: 20px;
}

.icon.size-22 {
    height: 22px;
    width: 22px;
}

.icon.size-24 {
    height: 24px;
    width: 24px;
}

.icon.size-42 {
    height: 42px;
    width: 42px;
}

.icon.size-44 {
    height: 44px;
    width: 44px;
}

.icon.size-48 {
    height: 48px;
    width: 48px;
}

.icon.size-92 {
    height: 92px;
    width: 92px;
}

.icon.size-108 {
    height: 108px;
    width: 108px;
}

.yinius-icon-search {
    background-image: url("https://www.yinius.es/assets/public/images/icons/search.svg");
}

.yinius-icon-arrow-right-white {
    background-image: url("https://www.yinius.es/assets/public/images/icons/arrow_right_white.svg");
}

.yinius-icon-arrow-left-white {
    background-image: url("https://www.yinius.es/assets/public/images/icons/arrow_left_white.svg");
}

.yinius-icon-red-dicount-tag {
    background-image: url("https://www.yinius.es/assets/public/images/icons/red_discount_tag.svg");
}

.yinius-icon-red-search-compare {
    background-image: url("https://www.yinius.es/assets/public/images/icons/red_search_compare.svg");
}

.yinius-icon-red-help {
    background-image: url("https://www.yinius.es/assets/public/images/icons/red_help.svg");
}

.yinius-icon-red-class {
    background-image: url("https://www.yinius.es/assets/public/images/icons/red_class.svg");
}

.yinius-icon-green-check {
    background-image: url("https://www.yinius.es/assets/public/images/icons/green_check.svg");
}

.yinius-icon-whatsapp-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/whatsapp_green.svg");
}

.yinius-icon-email {
    background-image: url("https://www.yinius.es/assets/public/images/icons/email.svg");
}

.yinius-icon-google-g {
    background-image: url("https://www.yinius.es/assets/public/images/icons/google_g.svg");
}

.yinius-icon-facebook {
    background-image: url("https://www.yinius.es/assets/public/images/icons/facebook.svg");
}

.yinius-icon-facebook-white {
    background-image: url("https://www.yinius.es/assets/public/images/icons/facebook_white.svg");
}

.yinius-icon-twitter {
    background-image: url("https://www.yinius.es/assets/public/images/icons/twitter.svg");
}

.yinius-icon-instagram {
    background-image: url("https://www.yinius.es/assets/public/images/icons/instagram.svg");
}

.yinius-icon-instagram-white {
    background-image: url("https://www.yinius.es/assets/public/images/icons/instagram.svg");
    filter: brightness(0) invert(1);
}

.yinius-icon-linkedin {
    background-image: url("https://www.yinius.es/assets/public/images/icons/linkedin.svg");
}

.yinius-icon-calendar {
    background-image: url("https://www.yinius.es/assets/public/images/icons/calendar.svg");
}

.yinius-icon-location {
    background-image: url("https://www.yinius.es/assets/public/images/icons/location.svg");
}

.yinius-icon-location-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/location_green.svg");
}

.yinius-icon-arrow-left {
    background-image: url("https://www.yinius.es/assets/public/images/icons/arrow_left.svg");
}

.yinius-icon-arrow-right {
    background-image: url("https://www.yinius.es/assets/public/images/icons/arrow_right.svg");
}

.yinius-icon-whatsapp {
    background-image: url("https://www.yinius.es/assets/public/images/icons/whatsapp.svg");
}

.yinius-icon-whatsapp-white {
    background-image: url("https://www.yinius.es/assets/public/images/icons/whatsapp_white.svg");
}

.yinius-icon-user {
    background-image: url("https://www.yinius.es/assets/public/images/icons/user.svg");
}

.yinius-icon-user-white {
    background-image: url("https://www.yinius.es/assets/public/images/icons/user_white.svg");
}

.yinius-icon-arrow-down {
    background-image: url("https://www.yinius.es/assets/public/images/icons/arrow_down.svg");
}

.yinius-icon-arrow-down-white {
    background-image: url("https://www.yinius.es/assets/public/images/icons/arrow_down_white.svg");
}

.yinius-icon-arrow-down-red {
    background-image: url("https://www.yinius.es/assets/public/images/icons/arrow_down_red.svg");
}

.yinius-icon-like-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/like_green.svg");
}

.yinius-icon-info-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/info_green.svg");
}

.yinius-icon-class-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/class_green.svg");
}

.yinius-icon-book-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/book_green.svg");
}

.yinius-icon-graduation-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/graduation_green.svg");
}

.yinius-icon-graduation {
    background-image: url("https://www.yinius.es/assets/public/images/icons/graduation.svg");
}

.yinius-icon-graduation-white {
    background-image: url("https://www.yinius.es/assets/public/images/icons/graduation_white.svg");
}

.yinius-icon-intelligence-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/intelligence_green.svg");
}

.yinius-icon-free-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/free_green.svg");
}

.yinius-icon-test-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/test_green.svg");
}

.yinius-icon-appcademos-a-red {
    background-image: url("https://www.yinius.es/assets/public/images/icons/appcademos_A_red.png");
}

.yinius-icon-avatar-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/avatar_green.svg");
}

.yinius-icon-filter {
    background-image: url("https://www.yinius.es/assets/public/images/icons/filter.svg");
}

.yinius-icon-filter-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/filter-green.svg");
}

.yinius-icon-close {
    background-image: url("https://www.yinius.es/assets/public/images/icons/close.svg");
}

.yinius-icon-close-white {
    background-image: url("https://www.yinius.es/assets/public/images/icons/close_white.svg");
}

.yinius-icon-close-thin {
    background-image: url("https://www.yinius.es/assets/public/images/icons/close_thin.svg");
}

.yinius-icon-close-circle-white {
    background-image: url("https://www.yinius.es/assets/public/images/icons/close_circle_white.svg");
}

.yinius-icon-cookie-monster {
    background-image: url("https://www.yinius.es/assets/public/images/icons/cookie_monster.svg");
}

.yinius-icon-video {
    background-image: url("https://www.yinius.es/assets/public/images/icons/video.svg");
}

.yinius-icon-heart-filled {
    background-image: url("https://www.yinius.es/assets/public/images/icons/heart_filled.svg");
}

.yinius-icon-eye {
    background-image: url("https://www.yinius.es/assets/public/images/icons/eye.svg");
}

.yinius-icon-trash-red {
    background-image: url("https://www.yinius.es/assets/public/images/icons/trash_red.svg");
}

.yinius-icon-red-form-bubbles {
    background-image: url("https://www.yinius.es/assets/public/images/icons/red_form_bubbles.png");
}

.yinius-icon-red-phone-bubbles {
    background-image: url("https://www.yinius.es/assets/public/images/icons/red_phone_bubbles.png");
}

.yinius-icon-red-search-people-bubbles {
    background-image: url("https://www.yinius.es/assets/public/images/icons/red_search_people_bubbles.png");
}

.yinius-icon-red-arrow-curved {
    background-image: url("https://www.yinius.es/assets/public/images/icons/red_arrow_curved.svg");
}

.yinius-icon-order-green {
    background-image: url("https://www.yinius.es/assets/public/images/icons/order_green.svg");
}

.yinius-icon-landing-badge {
    background-image: url("https://www.yinius.es/assets/public/images/icons/landings/badge.png");
}

.yinius-icon-landing-teacher {
    background-image: url("https://www.yinius.es/assets/public/images/icons/landings/teacher.png");
}

.yinius-icon-landing-repeat {
    background-image: url("https://www.yinius.es/assets/public/images/icons/landings/repeat.png");
}

.yinius-icon-landing-checkmark {
    background-image: url("https://www.yinius.es/assets/public/images/icons/landings/checkmark.png");
}

.yinius-icon-landing-arrow-right-red {
    background-image: url("https://www.yinius.es/assets/public/images/icons/landings/arrow_right_red.svg");
}

.yinius-icon-landing-computer {
    background-image: url("https://www.yinius.es/assets/public/images/icons/landings/computer.png");
}

.yinius-icon-landing-certificate {
    background-image: url("https://www.yinius.es/assets/public/images/icons/landings/certificate.png");
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-32 {
    font-size: 32px;
}

.color-white {
    color: white;
}

.color-red {
    color: #FF6E00 !important;
}

.color-green {
    color: #272244 !important;
}

.color-black {
    color: #272244 !important;
}

.color-black-50 {
    color: rgba(39,34,68,0.5) !important;
}

.color-black-60 {
    color: rgba(39,34,68,0.6) !important;
}

.color-black-80 {
    color: rgba(39,34,68,0.8) !important;
}

.color-whatsapp {
    color: #00E870 !important;
}

.underlined {
    text-decoration: underline !important;
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.button {
    cursor: pointer;
    padding: 13px 20px;
    border-radius: 6px;
    color: white;
    background: #FF6E00;
    box-shadow: 0 12px 20px -12px #FF6E00;
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
    text-align: center;
    text-decoration: none !important;
    transition: all 0.2s ease;
}

.button * {
    text-decoration: none !important;
}

.button:hover {
    background: #EF5E00;
}

.button:active {
    box-shadow: 0 0 0 transparent;
}

.button.green {
    background: #272244;
    box-shadow: 0 12px 20px -12px #272244;
}

.button.green:hover {
    background: #373254;
}

.button.green:active {
    box-shadow: 0 0 0 transparent;
}

.button.light-shadow {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.button.light-shadow:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.button.light-shadow:active {
    box-shadow: none;
}

.button.white {
    background: white;
    color: #272244;
    border: 1px solid #EAEAEA;
    box-shadow: 0 1px 4px rgba(39,34,68,0.16);
    padding: 12px 20px;
}

.button.white:active {
    background-color: #EFEFEF;
}

.button.white.selected {
    background: #FF6E00;
    color: #fff;
    border-color: #FF6E00;
}

.button.simple {
    background: transparent;
    color: rgba(39,34,68,0.8);
    font-weight: 500;
    border: none;
    padding: 12px 20px;
    box-shadow: none;
    transition: all 0.16s;
}

.button.simple:active {
    color: #272244;
}

.button.simple:active {
    opacity: 0;
}

.button.dark {
    background: #272244;
    color: #fff;
    border: none;
    box-shadow: 0 1px 4px rgba(39,34,68,0.08);
}

.button.dark:active {
    opacity: 0.8;
}

.button.facebookLogin {
    background: #1877f2;
    color: #fff;
}

.button.googleLogin {
    border-color: rgba(39,34,68,0.2);
}

.button.full-width {
    width: 100%;
}

.button.medium {
    padding: 10px 12px;
}

.button.small {
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
}

.button.noshadow {
    box-shadow: none;
}

.button > .icon {
    margin-right: 12px;
}

.label-tag {
    font-size: 11px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 2px 6px;
    font-weight: 500;
    text-align: center;
}

.label-tag.large {
    padding: 10px 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
}

.label-tag.green {
    border-color: #00E870;
    color: #00E870;
}

.label-tag.red {
    border-color: #FF3366;
    color: #FF3366;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.flex-inline {
    display: inline-flex;
    font-weight: 400;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.responsive-container {
    padding: 0 48px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .responsive-container {
        padding: 0 24px;
    }
}
@media (max-width: 480px) {
    .responsive-container {
        padding: 0 20px;
    }
}

.card-banner {
    background: white;
    border-radius: 12px;
    border: 1px solid #EAEAEA;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.warning-box {
    background: rgba(255,214,11,0.10);
    border: 1px solid rgba(255,214,11,0.32);
    padding: 24px 32px;
    line-height: 1.4;
    text-align: center;
    border-radius: 12px;
    color: rgba(39,34,68,0.88);
}

.line-separator {
    height: 1px;
    background: #EAEAEA;
}

.vertical-separator {
    flex: 1;
    width: 1px;
    height: 100%;
    background: #EAEAEA;
}
/*** HEADER ***/
#yinius-header {
    position: relative;
    background-color: #272244;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    z-index: 5;
    color: #fff;
}

#yinius-header.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    box-shadow: none;
}

.responsive-container-header {
    padding: 16px 48px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
@media (max-width: 480px) {
    .responsive-container-header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar {
    padding: 0;
}

#navbarTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#navbarTop a {
    text-decoration: none;
}

#navbarTop a:hover {
    text-decoration: underline;
}

#navbarTop .logo-mobile {
    display: none;
}
@media (max-width: 340px) {
    #navbarTop .logo-mobile img {
        height: 36px;
    }
}

#navbarTop .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbarTop .yinius-icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
}

#navbarTop .yinius-icon-text#llamar-experto {
    flex-shrink: 0;
}

#navbarTop .yinius-icon-text p {
    font-size: 14px;
    font-weight: 600;
}

#navbarTop .yinius-icon-text p + i {
    margin-left: 4px;
}

#navbarTop .yinius-icon-text .icon {
    margin-right: 10px;
    flex-shrink: 0;
}

#navbarTop .yinius-icon-text .logout-separator {
    margin: 0 8px;
}

#navbarTop #mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: white;
    padding: 72px 24px 24px;
    z-index: 1;
    font-weight: 500;
    overflow: scroll;
    transform: translate(0, -200%);
    transform-origin: top;
    transition: transform 0.32s ease;
    color: #272244;
}

#navbarTop #mobile-nav > div {
    padding: 12px 0;
}

#navbarTop #mobile-nav > div a:not(.yinius-icon-text) {
    text-decoration: none;
}

#navbarTop #mobile-nav .separator {
    height: 1px;
    background: rgba(39,34,68,0.16);
    padding: 0;
    margin: 12px 0;
}

#navbarTop #mobile-nav .nav-course-item {
    display: block;
    padding: 12px 0;
}

#navbarTop #mobile-nav .nav-course-item:last-child {
    padding-bottom: 0;
}

#navbarTop #mobile-nav .nav-course-item.active {
    color: #FF6E00;
    font-weight: 600;
}

#navbarTop #mobile-nav .title {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 8px;
}

#navbarTop #mobile-nav .title:nth-of-type(n+2) {
    margin-top: 20px;
}

#navbarTop #mobile-nav .yinius-icon-text {
    margin-left: 0;
    padding: 12px 0;
}

#navbarTop #mobile-nav .yinius-icon-text p {
    color: #272244;
    font-weight: 500;
    font-size: 16px;
}

#navbarTop #mobile-nav .yinius-icon-text p.title {
    margin-bottom: 4px;
    font-size: 14px;
}

#navbarTop #mobile-nav .yinius-icon-text .icon {
    opacity: 0.8;
}

#yinius-header.absolute #navbarTop .yinius-icon-text {
    color: #ffffff !important;
}

#yinius-header.mobileOpened #navbarTop #mobile-nav {
    transform: translate(0, 0);
    padding-bottom: 72px;
}

#yinius-header.mobileOpened #navbarTop .logo-mobile.isHome .phone {
    color: #272244;
}

#navbarBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#navbarBottom a {
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 7px 12px;
    text-decoration: none;
}

#navbarBottom a.active,
#navbarBottom a:hover {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: #FF6E00 !important;
}

#navbarBottom a:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

#yinius-header.absolute #navbarBottom a {
    color: #ffffff;
}

.navbar-toggler:focus {
    outline: none;
}

.userLinkContainer {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.userLinkContainer p {
    max-width: 172px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 0;
}

#mobile-nav .userLinkContainer p {
    max-width: none;
    white-space: normal;
    overflow: auto;
}

.userSubLinkContainer {
    flex-direction: row;
    display: flex;
    align-items: center;
    outline: none;
    padding: 12px 0 12px 26px;
    color: rgba(39,34,68,0.8);
}

.userSubLinkContainer i {
    margin-right: 8px;
}

.userSubLinkContainer + .separator {
    margin-left: 26px !important;
}

.mobileUserLinksContainer {
    width: 100%;
}

.mobileUserLinksContainer .userLinkContainer {
    margin-bottom: 8px;
}

.userDropdownContainer {
    padding: 8px 0;
}

.userDropdownContainer .title {
    font-weight: 600;
    color: #272244;
    padding: 4px 20px 0 12px;
    font-size: 16px;
    max-width: 220px;
    line-height: 1.2;
}

.userDropdownContainer .userDropdownItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    outline: none;
    color: rgba(39,34,68,0.8);
}

@media (max-width: 820px)
{
    #navbarBottom a
    {
        font-size: 13px;
    }
}
@media (max-width: 786px)
{
    .responsive-container-header {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 24px;
        padding-right: 24px;
    }

    #navbarTop {
        margin-bottom: 0;
    }

    #navbarTop .logo,
    #navbarTop .right {
        display: none;
    }

    #navbarTop .logo-mobile {
        z-index: 2;
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding-bottom: 8px;
        padding-top: 12px;
    }

    #navbarTop .logo-mobile .mobile-nav-button {
        height: 42px;
        width: 42px;
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        background: white;
    }

    #navbarTop .logo-mobile .mobile-nav-button .icon {
        margin-top: 4px;
        opacity: 0.52;
        transition: 0.32s all ease;
    }

    #navbarTop .logo-mobile .mobile-nav-button .title {
        font-size: 9px;
        font-weight: 600;
        text-align: center;
        margin-top: 4px;
        color: rgba(39,34,68,0.8);
        transition: 0.32s all ease;
    }

    #navbarTop .logo-mobile .mobile-nav-button:active {
        background: rgba(0, 0, 0, 0.04);
    }

    #navbarTop .logo-mobile .mobile-nav-button.isHome {
        background: transparent;
        border-color: rgba(255, 255, 255, 0.8);
        box-shadow: none;
    }

    #navbarTop .logo-mobile .mobile-nav-button.isHome .title {
        color: rgba(255, 255, 255, 0.8);
    }

    #navbarTop .logo-mobile .mobile-nav-button.isHome .icon {
        opacity: 0.6;
    }

    #navbarTop .logo-mobile > .icon,
    #navbarTop .logo-mobile > img {
        position: relative;
        z-index: 2;
    }

    #yinius-header.mobileOpened #navbarTop .logo-mobile {
        background: white;
    }

    #yinius-header.mobileOpened #navbarTop .logo-mobile .mobile-nav-button .icon {
        opacity: 1;
        transform: rotate(180deg);
        transform-origin: center;
    }

    #yinius-header.mobileOpened #navbarTop .logo-mobile .mobile-nav-button .title {
        color: #FF6E00;
    }

    #navbarBottom {
        display: none;
    }
}
/*** HEADER ***/
/*** footer#footer-yinius ***/
footer#footer-yinius {
    padding: 48px 0;
    border-top: 1px solid rgba(39,34,68,0.16);
    background: rgba(39,34,68,0.04);
}

footer#footer-yinius h3
{
    font-size: 24px !important;
    font-weight: 700 !important;
    margin: 0 !important;
}

footer#footer-yinius a {
    text-decoration: none;
}

footer#footer-yinius a:hover {
    text-decoration: underline;
}

footer#footer-yinius .contact-cards {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer#footer-yinius .contact-cards a {
    text-decoration: none;
}

footer#footer-yinius .card-banner {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    padding: 32px 28px;
    text-decoration: none;
}

footer#footer-yinius .card-banner:first-child {
    margin-right: 12px;
}

footer#footer-yinius .card-banner:last-child {
    margin-left: 12px;
}
@media (max-width: 400px) {
    footer#footer-yinius .card-banner:last-child .text-content .text {
        font-size: 22px !important;
    }
}
@media (max-width: 360px) {
    footer#footer-yinius .card-banner:last-child .text-content .text {
        font-size: 18px !important;
    }
}

footer#footer-yinius .card-banner .icon {
    flex-shrink: 0;
    margin-right: 16px;
}

footer#footer-yinius .card-banner .yinius-icon-whatsapp-green {
    height: 48px;
    width: 48px;
}

footer#footer-yinius .card-banner .yinius-icon-email {
    height: 48px;
    width: 64px;
    opacity: 0.24;
}

footer#footer-yinius .card-banner .text-content .title {
    margin-bottom: 8px;
}

footer#footer-yinius .card-banner .text-content .text {
    word-break: break-all;
}

footer#footer-yinius .top {
    margin-bottom: 48px;
    border-bottom: 1px solid rgba(39,34,68,0.16);
    padding-bottom: 32px;
}

footer#footer-yinius .bottom {
    display: flex;
    flex-direction: row;
    padding: 0 32px;
}

footer#footer-yinius .bottom .left {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.6;
}

footer#footer-yinius .bottom .left .policies {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
}

footer#footer-yinius .bottom .left .policies .separator {
    display: inline-block;
    margin: 0 12px;
}

footer#footer-yinius .bottom .left .address {
    margin-bottom: 16px;
    font-size: 14px;
}

footer#footer-yinius .bottom .left .address + p {
    font-size: 15px;
}

footer#footer-yinius .bottom .left .yinius-icon-heart-filled {
    transform: translate(0, 3px);
    margin: 0 3px;
    line-height: 1.4;
}

footer#footer-yinius .bottom .right {
    flex: 0.4;
    text-align: right;
}

footer#footer-yinius .bottom .right .contact {
    margin-bottom: 12px;
}

footer#footer-yinius .bottom .right .contact .title {
    margin-bottom: 4px;
}

footer#footer-yinius .bottom .right .social-icons {
    margin-top: 32px;
}

footer#footer-yinius .bottom .right .social-icons a {
    margin-left: 24px;
}

footer#footer-yinius .bottom .right .social-icons a:first-child {
    margin-left: 0;
}

footer#footer-yinius .bottom .right .social-icons .icon {
    opacity: 0.8;
}
@media (max-width: 920px) {
    footer#footer-yinius .contact-cards {
        flex-direction: column;
    }

    footer#footer-yinius .card-banner {
        flex: 1;
        flex-basis: auto;
        margin: 0 0 12px 0 !important;
    }
}
@media (max-width: 768px) {
    footer#footer-yinius .bottom {
        padding: 0 12px;
    }
}
@media (max-width: 620px) {
    footer#footer-yinius .bottom {
        flex-direction: column;
    }

    footer#footer-yinius .bottom .left {
        justify-content: flex-start;
        flex: 0 0 auto;
    }

    footer#footer-yinius .bottom .left p:first-child {
        margin-bottom: 16px;
    }

    footer#footer-yinius .bottom .right {
        text-align: center;
    }

    footer#footer-yinius .bottom .right .contact-container {
        margin-top: 48px;
    }
}
@media (max-width: 520px) {
    footer#footer-yinius .card-banner {
        padding: 24px 20px;
    }

    footer#footer-yinius .card-banner .icon {
        display: none;
    }
}
/*** footer#footer-yinius ***/