@import '../../sass/abstracts/variables.scss';

.responsive-container
{
    max-width: 700px;
    margin: 32px auto 80px;
}

.top
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 8px;
    
    h2
    {
        line-height: 1.2 !important;
        font-size: 28px !important;
    }
    h2 + div
    {
        flex-shrink: 0;
        margin-bottom: 4px;
    }
}

#courses
{
    margin-top: 32px;

    & > .titleContainer
    {
        margin-bottom: 12px;

        .buttons > div
        {
            margin-left: 12px;
        }
    }
    .course
    {
        margin-bottom: 16px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.08);
        overflow: hidden;

        transition: all 0.16s ease;

        .header
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;
            cursor: pointer;

            transition: all 0.16s ease;

            &:hover
            {
                background: $row-hover;
            }

            .titleContainer
            {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            app-checkbox
            {
                margin-right: 16px;
            }
            .label-tag
            {
                margin-right: 12px;
            }
        }
        .subtitleContainer
        {
            margin-top: 4px;
        }
        .subtitle
        {
            font-size: 13px;
            font-weight: 400;
            color: $black-80;
            
            .impressions
            {
                transform: translate(0,2px);
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                font-size: 14px;
                
                .icon
                {
                    opacity: 0.8;
                }
            }
        }

        &.expanded
        {
            .header
            {
                background: $row-hover;
            }
            .formContainer
            {
                height:  auto;//1070px;//478px;
                padding: 16px;
            }
        }
    }
    .formContainer
    {
        display: block;
        height: 0px;
        overflow: hidden;

        transition: all 0.16s ease;
    }
}

#multipleEditorModal
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;

    display: none;

    &.show
    {
        display: block;
    }

    .overlay
    {
        background: $black-80;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .icon-close-circle-white
    {
        position: absolute;
        top: 40px;
        right: 40px;
        z-index: 3;
    }
    .cardContainer
    {
        position: relative;
        z-index: 2;
        background: #fff;
        padding: 20px 16px 16px;
        border-radius: 8px;
        margin: 100px 0;
    }
    .header
    {
        .titles
        {
            overflow: auto;
            white-space: nowrap;
            padding: 4px 0 12px;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar
            {
                display: none;
            }
        }
    }
    .line-separator
    {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 520px)
{
    #multipleEditorModal .icon-close-circle-white
    {
        position: absolute;
        top: 24px;
        right: 20px;
    }
}
