<div class="responsive-container">
    <div class="title-view">
        <h1>Tus cursos favoritos</h1>
    </div>

    <div>
        <div class="emptyView" *ngIf="favorites.length === 0">
            <nz-empty *ngIf="usersService.user != null" nzNotFoundContent="No tienes favoritos"></nz-empty>
            <nz-empty *ngIf="usersService.user == null" [nzNotFoundContent]="loginEmptyView"></nz-empty>
            
            <ng-template #loginEmptyView>
                <span><span class="cursor-pointer color-red fw-500" (click)="showFavoritesLogin()">Accede</span> para ver tus favoritos</span>
            </ng-template>
        </div>

        <div id="results" *ngIf="favorites.length !== 0">
            <div class="course-item-container" *ngFor="let course of favorites">
                <app-course-card [course]="course"></app-course-card>
            </div>
        </div>
    </div>
</div>

