<div id="hero">
    <div class="gradient-overlay"></div>
    <div class="overlay"></div>    
    
    <div class="hero-content" [ngStyle]="{ 'padding-top': getTopBannerHeight() }">
        <div class="responsive-container">
            <div class="hero-text">
                <h1>Compara los mejores cursos de inglés online</h1>
                <div class="hero-card">
                    <h2>Reserva tu plaza con descuentos exclusivos de hasta el 30%</h2>
                    <!--<input
                        class="zipCode"
                        type="text"
                        name="zipCode"
                        [(ngModel)]="zipCode"
                        placeholder="Escribe tu Código Postal"
                        data-hj-whitelist
                        autocomplete="off"
                    >-->
                    <app-searchbox
                        #searchbox
                        [small]="true"
                        [hideSearchButton]="true"
                        [shorter]="true"
                        [isHome]="true"
                        [useTags]="true"
                        (onSearch)="onClickedHeroSearchCategory($event)"
                    ></app-searchbox>
                    <div class="modality-selector">
                        <div
                            class="button white light-shadow"
                            [ngClass]="{'selected': modality === 'presencial'}"
                            (click)="onClickModality('presencial')"
                        >
                            Presencial
                        </div>
                        <div
                            class="button white light-shadow"
                            [ngClass]="{'selected': modality === 'online'}"
                            (click)="onClickModality('online')"
                        >
                            Online
                        </div>
                        <div
                            class="button white light-shadow"
                            [ngClass]="{'selected': modality === 'todos'}"
                            (click)="onClickModality('todos')"
                        >
                            Mostrar todos
                        </div>
                    </div>
                    <div class="separator">
                        <hr/>
                        <div class="or">o</div>
                    </div>
                    <a class="button full-width light-shadow" [routerLink]="['/estudio-personalizado']">Contacta con un experto</a>
                    <p>y encontramos el mejor curso para ti ;)</p>
                </div>
            </div>
        </div>
    </div>
    <div id="fixed-searchbox" [ngClass]="{'show': showFixedSearchbar}">
        <div class="responsive-container">
            <app-searchbox
                #fixedsearchbox
                [fixed]="true"
                [small]="true"
                [isHome]="true"
                (onSearch)="findCourses($event, null)"
            ></app-searchbox>
        </div>
    </div>
    
    <div class="trusted">
        <div class="responsive-container">
            <div class="trustedContainer">
                <div class="fw-700">EXCELENTE</div>
                <div>9/10</div>
                <div class="stars">
                    <i nz-icon nzType="star" nzTheme="fill"></i>
                    <i nz-icon nzType="star" nzTheme="fill"></i>
                    <i nz-icon nzType="star" nzTheme="fill"></i>
                    <i nz-icon nzType="star" nzTheme="fill"></i>
                    <i nz-icon nzType="star" nzTheme="fill"></i>
                </div>
                <div class="image"></div>
            </div>
        </div>
    </div>
</div>

<section id="verified-academies">
    <div class="responsive-container">
        <h2><span class="green-dots">+</span>200 cursos de las <span class="color-green">mejores academias</span></h2>
        <div class="academies">
            <div class="academy card-banner wideImage">
                <img src="../../assets/public/images/academies/american_language.png" alt="Logo American Language Academy. Academia de inglés en Madrid." />
            </div>
            <div class="academy card-banner">
                <img src="../../assets/public/images/academies/ulic.png" alt="Logo ULIC Centre. Academia de inglés en Madrid y centro examinador de exámenes oficiales." />
            </div>
            <div class="academy card-banner">
                <img src="../../assets/public/images/academies/instituto-vox.png" alt="Logo Instituto Vox. Academia de inglés en Madrid." />
            </div>
            <div class="academy card-banner">
                <img src="../../assets/public/images/academies/paraninfo.png" alt="Logo Paraninfo. Academia de inglés en Madrid." />
            </div>
            <div class="academy card-banner">
                <img src="../../assets/public/images/academies/seif.png" alt="Logo SEIF. Academia de inglés en Madrid." />
            </div>
        </div>    
    </div>
</section>

<section id="triptic">
    <div class="responsive-container">
        <h2>Beneficios de reservar tu plaza a través de Appcademos</h2>
        <div class="triptic-container">
            <div class="triptic-item">
                <div class="icon size-92 icon-red-dicount-tag"></div>
                <div class="title">Descuentos de hasta el 30%</div>
                <p>Precios más bajos que reservando en la academia</p>
            </div>
            <div class="triptic-item">
                <div class="icon size-92 icon-red-class"></div>
                <div class="title">Clase de prueba gratis</div>
            </div>
            <div class="triptic-item" [routerLink]="['estudio-personalizado']">
                <div class="icon size-92 icon-red-help"></div>
                <div class="title">Recibe los consejos de un experto</div>
                <p>¿No sabes qué curso es el mejor para ti? Nosotros te ayudamos ;)</p>
            </div>
        </div>
    </div>
</section>

<section id="help-container">
    <div class="responsive-container">
        <h2>Un equipo de expertos para ayudarte:</h2>
        <div class="pictures">
            <div class="picture">
                <div class="image"></div>
                <p class="text-center fs-18 fw-600">Alvaro</p>
            </div>
            <div class="picture">
                <div class="image"></div>
                <p class="text-center fs-18 fw-600">Michael</p>
            </div>
            <div class="picture">
                <div class="image"></div>
                <p class="text-center fs-18 fw-600">Anna</p>
            </div>
        </div>
        <div class="call-us-free">
            <h3>Llámanos gratis</h3>
            <a class="button" href="tel:+34677827178">+34 677 827 178</a>
        </div>
    </div>
</section>

<section id="course-types">
    <div class="responsive-container">
        <div class="course-container">
            <h2 class="fs-24 fw-600 text-center">Solo trabajamos con academias que te preparan para los certificados más importantes</h2>
            <div class="imagesContainer">
                <div class="imageContainer">
                    <img src="../../assets/public/course-logos/cambridge.png" alt="Logo de Cambridge Qualifications (FCE B2, CAE C1, CPE C2). Examen oficial de la Universidad de Cambridge." />
                </div>
                <div class="imageContainer">
                    <img src="../../assets/public/course-logos/logo-aptis.jpg" alt="Logo del APTIS. Examen oficial del British Council." />
                </div>
                <div class="imageContainer">
                    <img src="../../assets/public/course-logos/TOEFL_Logo.png" alt="Logo del TOEFL (Test of English as a Foreign Language)." />
                </div>
                <div class="imageContainer">
                    <img src="../../assets/public/course-logos/IELTS_logo.png" alt="Logo del IELTS (International English Language Testing System)." />
                </div>
            </div>
        </div>
    </div>
</section>

<section id="happy-users">
    <div class="background"></div>
    <div class="responsive-container">
        <h3>Ellos cumplieron su objetivo. <span class="color-red">¿Te unes?</span></h3>
        <div class="posts-wrapper">
            <a class="profile" href="https://www.instagram.com/appcademos/" target="_blank">
                <div class="profile-image">
                    <div class="profile-overlay">
                        <i class="icon size-24 icon-instagram-white"></i>
                    </div>
                </div>
                <div class="profile-title">appcademos</div>
            </a>
            <div class="posts-container">
                <div [ngClass]="{'ig-post': true, 'flipped': igPost.flipped}" *ngFor="let igPost of igPosts">
                    <div class="ig-post-inner">
                        <div class="ig-post-front">
                            <div class="image" [style.backgroundImage]="'url(' + igPost.thumbnail_url + ')'">
                                <a href="{{'https://instagram.com/p/' + igPost.id}}" target="_blank"></a>
                                <div class="button-mobile" (click)="onClickFlipIgPost(igPost, $event)">Click para conocer su historia</div>
                            </div>
                        </div>
                        <div class="ig-post-back">
                            <a href="{{'https://instagram.com/p/' + igPost.id}}" target="_blank"></a>
                            <div class="description">{{ igPost.title }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="https://www.instagram.com/appcademos/" target="_blank" class="button medium dark">
                <i class="icon size-20 icon-instagram-white"></i>
                Descubre más
            </a>
        </div>
    </div>
</section>

<section id="cities">
    <div class="responsive-container">
        <h2>Encuentra tu curso ideal en:</h2>
        <div class="cities">
            <div id="madrid" class="city madrid noselect"><span class="title">Madrid</span><div class="overlay"></div></div>
            <div id="barcelona" class="city barcelona noselect"><span class="title">Barcelona</span><div class="overlay"></div></div>
            <div id="bilbao" class="city bilbao noselect"><span class="title">Bilbao</span><div class="overlay"></div></div>
            <div id="sevilla" class="city sevilla noselect"><span class="title">Sevilla</span><div class="overlay"></div></div>
        </div>
    </div>
</section>

<section id="partners">
    <div class="responsive-container">
        <h3>Apoyados por</h3>
        <div class="partners-container">
            <div class="imageContainer">
                <img class="taller" src="../../assets/public/images/partners/ucm.png" alt="Logo de la Universidad Complutense de Madrid (UCM)." />
            </div>
            <div class="imageContainer">
                <img class="widthLimitation" src="../../assets/public/images/partners/google_startups.png" alt="Logo de Google for Startups." />
            </div>
            <div class="imageContainer">
                <img src="../../assets/public/images/partners/comillas.svg" alt="Logo de la Universidad Pontificia Comillas ICADE-ICAI." />
            </div>
            <div class="imageContainer">
                <img src="../../assets/public/images/partners/uc3m.png" alt="Logo de la Universidad Carlos III de Madrid (UC3M)." />
            </div>
            <div class="imageContainer">
                <img src="../../assets/public/images/partners/urjc.png" alt="Logo de la Universidad Rey Juan Carlos (URJC)." />
            </div>
            <div class="imageContainer">
                <img src="../../assets/public/images/partners/eoi.png" alt="Logo de la Escuela de Organización Industrial (EOI)." />
            </div>
            <div class="imageContainer">
                <img src="../../assets/public/images/partners/citi.png" alt="Logo de Citigroup." />
            </div>
            <div class="imageContainer">
                <img src="../../assets/public/images/partners/deusto.png" alt="Logo de Deusto Business School." />
            </div>
            <div class="imageContainer">
                <img class="widthLimitation" src="../../assets/public/images/partners/camilo.png" alt="Logo de la Universidad Camilo José Cela (UCJC)." />
            </div>
            <div class="imageContainer">
                <img src="../../assets/public/images/partners/la_nave.jpg" alt="Logo de la aceleradora de La Nave del Ayuntamiento de Madrid." />
            </div>
            <div class="imageContainer">
                <img class="taller" src="../../assets/public/images/partners/club_empresarial_icade.png" alt="Logo del Club Empresarial de ICADE." />
            </div>
            <div class="imageContainer">
                <img class="taller" src="../../assets/public/images/partners/tetuan_valley.png" alt="Logo de la aceleradora Tetuan Valley." />
            </div>
            <div class="imageContainer">
                <img src="../../assets/public/images/partners/madrid.png" alt="Logo de Madrid Emprende." />
            </div>
            <div class="imageContainer">
                <img class="taller" src="../../assets/public/images/partners/seklab.png" alt="Logo de la aceleradora SEK Lab." />
            </div>
        </div>
    </div>
</section>
