@import '../../../sass/abstracts/variables.scss';

.course-link
{
  text-decoration: none !important;
  color: inherit;
  outline: none !important;

  *
  {
      outline: none !important;
  }
}
.course-item
{
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 12px;
    transition: 0.16s all;
    
    a
    {
        text-decoration: none !important;
        color: inherit;
    }
    
    &:hover
    {
        border-color: $border-color;
        box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    }
}

.course-item-image
{
    position: relative;
    z-index: 1;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    background-color: $black-08;
    border: 1px solid $border-color;
    
    @media (max-width: 400px)
    {
        height: 160px;
    }
    @media (max-width: 360px)
    {
        height: 150px;
    }
}

.course-body
{
    padding: 12px 12px 4px 4px;

    .course-academy-container
    {
        display: flex;
        flex-direction: row;
        margin-bottom: 4px;
    }
    .verified
    {
        flex: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        font-weight: 700;
        font-size: 8px;
        color: $green-color;
        border: 1px solid $green-color;
        border-radius: 4px;
        padding: 2px 3px 1px;
        letter-spacing: 0.4px;
        margin-left: 8px;

        i
        {
            margin-right: 3px;
        }
    }
    .course-title
    {
        font-size: 18px;
        
        @media (max-width: 400px)
        {
            font-size: 17px;
        }
        @media (max-width: 360px)
        {
            font-size: 16px;
        }
    }
}
.course-icon-text
{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    color: $black-70;
    margin-bottom: 7px;

    &.address
    {
        margin-bottom: 0;
    }
    
    p
    {
        flex-grow: 1;
    }
    
    .icon
    {
        flex-shrink: 0;
        opacity: 0.4;
        margin-right: 8px;
    }
    
    @media (max-width: 375px)
    {
        font-size: 14px;
    }
}
.neighborhoods
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding-left: 23px;
    margin-bottom: 4px;
    
    .neighborhood
    {
        flex-shrink: 0;
        font-size: 11px;
        font-weight: 500;
        margin-top: 6px;
        margin-right: 8px;
        line-height: 18px !important;
        background-color: transparent !important;
        color: $black-70 !important;
        max-width: 110px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.course-rating
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: flex-start;

    p
    {
        font-size: 11px;
        font-weight: 500;
        color: rgba(72,72,72,0.6);
        margin-left: 4px;
        
        span.average
        {
            margin-right: 6px;
            color: $yellow-star-color;
            font-weight: 600;
            font-size: 12px;
        }
    }

    .star
    {
        position: relative;
        display: inline-block;
        color: rgba(72,72,72,0.24);
        font-size: 13px;
        margin-right: 3px;
    }
    .full
    {
        color: $yellow-star-color;
    }
    .half
    {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        color: $yellow-star-color;
    }
}
.course-texts
{
    margin-top: 12px;
}
.course-price
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-right: 8px;
    font-size: 22px;
    margin-top: 12px;

    .oldprice
    {
        text-decoration: line-through;
        color: $black-40;
        margin-right: 12px;
        font-weight: 500;
    }
    
    @media (max-width: 400px)
    {
        font-size: 20px;
    }
    @media (max-width: 360px)
    {
        font-size: 19px;
    }
}
.course-tag
{
    position: absolute;
    top: 12px;
    left: auto;
    right: 0;
    transform: translate(8px,0);
    height: 22px;
    line-height: 22px;
    border-radius: 3px;
    background: $red-color;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 0 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.course-video-icon
{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.course-heart
{
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;
    width: 36px;
    height: 36px;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0,0,0,0.16);
    
    *
    {
        pointer-events: none;
    }
}

.course-goto-button-container
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8px;
    z-index: 2;
    transition: 0.16s background;
    
    .goto-button
    {
        color: $red-color;
        font-weight: 500;
        font-size: 15px;
        padding: 4px 12px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12);
        margin-top: -32px;
        opacity: 0;
        transition: 0.16s opacity, 0.24s margin-top;
    }
}
.course-item:hover .course-goto-button-container
{
    background: rgba(72,72,72,0.32);
    
    .goto-button
    {
        margin-top: 0;
        opacity: 1;
    }
}
.mobile-course-link
{
    display: none;
}


@media (max-width: 580px)
{
    .course-item
    {
        border-color: transparent !important;
        box-shadow: none !important;
        padding: 0 !important;
    }
    .course-goto-button-container
    {
        display: none;
    }
    
    .mobile-course-link
    {
        display: block;
        margin-top: 12px;
        color: $red-color !important;
    }
}