<div class="form full-width">
      <div class="form-group-container">
          <div class="form-group">
            <label>Nombre<span *ngIf="createMode || this.academy != null">*</span></label>
            <input type="text" nz-input nzSize="large" [(ngModel)]="name" name="name">
          </div>
          <div class="form-group">
            <label>Dirección*</label>
            <input type="text" nz-input nzSize="large" [(ngModel)]="address" name="address">
          </div>
      </div>
      <div class="form-group-container">
          <div class="form-group">
            <label>Latitud*</label>
            <input type="text" nz-input nzSize="large" [(ngModel)]="latitude" name="latitude">
          </div>
          <div class="form-group">
            <label>Longitud*</label>
            <input type="text" nz-input nzSize="large" [(ngModel)]="longitude" name="longitude">
          </div>
      </div>
      <div class="form-group-container">
          <div class="form-group">
            <label>Ciudad*</label>
            <nz-select nzSize="large" nzPlaceHolder="Elige ciudad" [(ngModel)]="city" (ngModelChange)="onCitySelectChange()">
                <nz-option *ngFor="let c of cities" [nzLabel]="c.name" [nzValue]="c._id"></nz-option>
            </nz-select>
          </div>
          <div class="form-group">
              <label>Barrios*</label>
              <nz-select nzMode="multiple" nzSize="large" nzPlaceHolder="Elige barrio/s" [(ngModel)]="neighborhoods">
                  <nz-option *ngFor="let neighborhood of allNeighborhoods" [nzLabel]="neighborhood.name" [nzValue]="neighborhood._id"></nz-option>
              </nz-select>
          </div>
      </div>
      <div class="form-group-container">
          <div class="form-group">
            <label>Verificada</label>
            <nz-switch [(ngModel)]="isVerified"></nz-switch>
          </div>
      </div>
      <div class="form-group">
          <label>Por qué elegir esta academia</label>
          <quill-editor [(ngModel)]="whyChooseMe"></quill-editor>
      </div>

      <div class="buttons">
          <button
              nz-button
              [nzLoading]="loading"
              nzType="primary"
              nzSize="large"
              (click)="onPressMainButton()"
          >
              {{ createMode ? 'Crear academia' : 'Guardar academia' }}
          </button>
      </div>
</div>