@import '../../sass/abstracts/variables.scss';

.course-link {
  text-decoration: none !important;
  color: inherit;
  outline: none !important;

  *
  {
      outline: none !important;
  }
}
.course-item {

  a {
    text-decoration: none !important;
    color: inherit;
  }
}

.course-item-image
{
    position: relative;
    z-index: -1;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    background-color: $black-08;
    border: 1px solid $border-color;
}

.course-body
{
    padding: 12px 12px 4px 4px;

    .course-academy-container
    {
        display: flex;
        flex-direction: row;
        margin-bottom: 4px;
    }
    .verified
    {
        flex: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        font-weight: 700;
        font-size: 9px;
        color: $green-color;
        border: 1px solid $green-color;
        border-radius: 4px;
        padding: 3px 4px 2px;
        letter-spacing: 0.75px;
        margin-left: 8px;

        i
        {
            margin-right: 4px;
        }
    }
    .course-title
    {
        margin-bottom: 12px;
    }
}
.course-icon-text
{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: $black-80;
    margin-bottom: 8px;

    .icon
    {
        opacity: 0.4;
        margin-right: 8px;
    }
}
.course-rating
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: -3px;

    p
    {
        font-size: 11px;
        font-weight: 600;
        margin-left: 4px;
        color: rgba(72,72,72,0.6);
    }

    .star
    {
        position: relative;
        display: inline-block;
        color: rgba(72,72,72,0.24);
        font-size: 13px;
        margin-right: 3px;
    }
    .full
    {
        color: $yellow-star-color;
    }
    .half
    {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        color: $yellow-star-color;
    }
}
.course-price
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 12px;

    .oldprice
    {
        text-decoration: line-through;
        color: $black-50;
        margin-right: 12px;
    }
}
.course-tag
{
    position: absolute;
    top: 12px;
    left: auto;
    right: 0;
    transform: translate(8px,0);
    height: 22px;
    line-height: 22px;
    border-radius: 3px;
    background: $red-color;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 0 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}