<div class="responsive-container">
    <div id="estudioPersonalizadoContainer">
        <h1>Pide tu estudio personalizado gratis en 1 minuto</h1>
        <div class="subtitle">Estudiamos tus necesidades y te orientamos para:</div>
        <div class="list">
            <div>
                <div class="iconContainer">
                    <div class="icon size-14 icon-green-check"></div>
                </div>
                <div class="text">Elegir qué curso hacer.</div>
            </div>
            <div>
                <div class="iconContainer">
                    <div class="icon size-14 icon-green-check"></div>
                </div>
                <div class="text">Apuntarte a la mejor academia.</div>
            </div>
            <div>
                <div class="iconContainer">
                    <div class="icon size-14 icon-green-check"></div>
                </div>
                <div class="text">¡Cumplir tus objetivos con el inglés!</div>
            </div>
        </div>
        
        <div id="estudioPersonalizado" class="card-banner"></div>
    </div>
</div>
