@import '../../sass/abstracts/variables.scss';

body
{
    background-color: #f2f2f2 !important;
}

#estudioPersonalizadoContainer
{
    margin: 32px auto 80px;
    max-width: 1000px;
    width: 100%;
    
    h1
    {
        font-size: 32px;
        margin-bottom: 24px;
        max-width: 680px;
        line-height: 1.3;
    }
    
    & > .wrapper
    {
        display: flex;
        flex-wrap: wrap;
        
        & > div:first-child
        {
            margin-right: 48px;
        }
    }
    .subtitle
    {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 8px;
        margin-top: 40px;
        color: $black-80;
        
        @media all and (max-width: 1050px)
        {
            margin-top: 0px;
        }
    }
    .list
    {
        margin-bottom: 32px;
        
        & > div
        {
            display: flex;
            align-items: center;
            padding: 8px 0;
            
            .iconContainer
            {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: $green-color;
                margin-right: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                
                .icon
                {
                    filter: brightness(0) invert(1);
                }
            }
            
            .text
            {
                font-size: 17px;
                font-weight: 500;
            }
        }
    }
}
#estudioPersonalizado
{    
    width: 100%;
    max-width: 440px;
    margin: 0 0 80px;
    border-radius: 12px;
    min-height: 400px;
    padding-left: 20px;
    padding-right: 12px;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 8px 32px $green-color-32;
}