<div class="responsive-container">
    <div id="estudioPersonalizadoContainer">
        <h1>Encontramos el mejor curso y academia de inglés para ti en menos de 12 horas</h1>
        
        <div class="wrapper">
            <div>
                <div class="subtitle">Estudiamos tus necesidades y te orientamos para:</div>
                <div class="list">
                    <div>
                        <div class="iconContainer">
                            <div class="icon size-14 icon-green-check"></div>
                        </div>
                        <div class="text">Elegir qué curso hacer.</div>
                    </div>
                    <div>
                        <div class="iconContainer">
                            <div class="icon size-14 icon-green-check"></div>
                        </div>
                        <div class="text">Apuntarte a la mejor academia.</div>
                    </div>
                    <div>
                        <div class="iconContainer">
                            <div class="icon size-14 icon-green-check"></div>
                        </div>
                        <div class="text">¡Cumplir tus objetivos con el inglés!</div>
                    </div>
                </div>
            </div>
                
            <div id="estudioPersonalizado" class="card-banner">
                <iframe src="https://share.hsforms.com/1wmkBlC1ORMOEpLvX1GAf_w2qonq" data-hj-allow-iframe></iframe>
            </div>
            
            
        </div>
    </div>
</div>
