@import '../../../../../sass/variables.scss';

.reviewEditor
{
    position: relative;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 12px;
    box-shadow: 0 1px 3px $black-12;
    
    & > .header
    {
        min-height: 38px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 4px;
        justify-content: space-between;
        padding: 8px 24px 8px 12px;
        
        &:hover
        {
            background: $row-hover;
        }
        
        .textsContainer
        {
            flex: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .overtitleContainer
        {
            display: flex;
            align-items: center;
            margin-bottom: 2px;
            font-size: 12px;
            
            nz-rate
            {
                margin-left: 12px;
            }
            .rateCount
            {
                font-size: 11px;
                color: $black-60;
                margin-left: 2px;
            }
        }
        .overtitle
        {
            color: $black;
            text-transform: capitalize;
            font-weight: 600;
            letter-spacing: 0.5;
        }
        .title
        {
            color: $black-80;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .icon
        {
            flex-shrink: 0;
            margin-left: 12px;
            opacity: 0.24;
            transition: all 0.2s ease;
        }
    }
    & > .body
    {
        height: auto;
        max-height: 0px;
        overflow: hidden;
        padding: 0 12px;
        
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        
        transition: 0.2s all;
    }
    &.expanded
    {
        & > .header .icon
        {
            transform: rotate(180deg);
        }
        & > .body
        {
            max-height: 999999px;
            padding: 8px 12px 12px;
        }
    }

    .delete
    {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -4px;
        right: -4px;
        border-radius: 50%;
        text-align: center;
        font-size: 28px;
        background: #FDF3F5;
        box-shadow: 0 1px 2px rgba(0,0,0,0.12);
        border: 1px solid $orange-color-50;
        color: $orange-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 4px;
        padding-right: 3px;
        cursor: pointer;
        
        opacity: 0;
        pointer-events: none;
        
        transition: 0.16s all;
    }
    
    &:hover .delete
    {
        opacity: 1;
        pointer-events: all;
    }
}

label
{
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-left: 2px;
}
.inputContainer
{
    position: relative;
    margin-bottom: 8px;
    width: calc(50% - 6px);
    
    & > span
    {
        width: 100%;
    }
    
    &.text,
    &.rating
    {
        width: 100%;
        
        textarea
        {
            width: 100%;
        }
    }

    nz-rate
    {
        display: block;
    }
}
.buttonsContainer
{
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}