<div class="landing">
    <div class="responsive-container">
        <section class="titles">
            <h1>Cambridge Express: Aprueba el First Certificate en 3 meses</h1>
            <h5>
                Obtén tu certificado oficial de inglés nivel B2 First (FCE) con la academia
                <span class="color-green">
                    Yes! La Academia
                    <div class="verifiedBadge card-banner">
                        <span>Academia verificada por</span>
                        <img src="../../../assets/public/images/logo_red.png" alt="yinius" />
                        <span>Tu comparador de academias ;)</span>
                    </div>
                </span>
            </h5>
        </section>
        
        <section class="mainInfoBox">
            <div class="flex flex-row space-between">
                <div class="academyInfo card-banner">
                    <div class="top">
                        <img class="card-banner" src="../../../assets/public/images/landings/yes/logo-web.png" alt="Yes! La Academia" />
                        <div class="rating">
                            <i nz-icon nzType="star" nzTheme="fill"></i>
                            <div class="points">4,8<span>/5</span></div>
                        </div>
                    </div>
                    <div class="text">
                        <p>c/ de Lazaga 9, Madrid</p>
                        <p>Academia experta en exámenes de Cambridge con <b>+95% de aprobados</b>.</p>
                    </div>
                    <div class="badges">
                        <img src="../../../assets/public/images/landings/yes/first.jpg" alt="Cambridge First Certificate" />
                        <img src="../../../assets/public/images/landings/yes/cambridge.png" alt="We prepare for Cambridge English Qualifications" />
                    </div>
                </div>
                <span
                    class="infoLink color-green underlined fw-500 fs-16 cursor-pointer text-center"
                    (click)="utils.scrollToElement('.mainInfoBox .bottomText', undefined, 40)"
                >
                    Ver toda la información del curso
                </span>
                <div class="formColumn">
                    <div class="fw-600 fs-18">Llámanos gratis</div>
                    <a class="button red" href="tel:+34689438538">+34 689 438 538</a>
                    <div class="fw-600 fs-18">ó</div>
                    
                    <div id="landingForm"></div>
                </div>
            </div>
            <div class="bottomText">
                <p>El examen <b>First Certificate in English (FCE)</b> de Cambridge certifica que has obtenido un nivel B2 de inglés de acuerdo al Marco Común Europeo de Referencia para as Lenguas (MCERL).</p>
                <p>Es uno de los títulos de inglés más demandados:<br/>- Reconocimiento a nivel mundial.<br/>- Nivel que te van a pedir tanto en empresas como en universidades.</p>
            </div>
        </section>
        
        <section class="triptic">
            <div class="item">
                <div class="icon size-92 icon-landing-badge"></div>
                <div class="text-center fs-18 fw-600">+95% de aprobados</div>
            </div>
            <div class="item">
                <div class="icon size-92 icon-landing-teacher"></div>
                <div class="text-center fs-18 fw-600">Profesores<br/>especializados</div>
            </div>
            <div class="item">
                <div class="icon size-92 icon-landing-repeat"></div>
                <div class="text-center fs-18 fw-600">Si no apruebas el examen, 2 meses gratis para prepaparlo de nuevo</div>
            </div>
        </section>
        
        <section class="courseInfo">
            <h3>Información importante del curso:</h3>
            <div class="card-banner">
                <div class="item">
                    <div class="title">Inicio del curso</div>
                    <div class="text">21 de septiembre</div>
                </div>
                <div class="item">
                    <div class="title">Horario</div>
                    <div class="text">L y X: 19:30 - 21:00</div>
                </div>
                <div class="item">
                    <div class="title">Precio total</div>
                    <div class="text">300€<br/>(3 meses de clase)</div>
                </div>
                <div class="item">
                    <div class="title">Final del curso</div>
                    <div class="text">10 de diciembre</div>
                </div>
                <div class="item">
                    <div class="title">Dirección</div>
                    <div class="text">c/ de Lazaga 9, Madrid<br/>(curso presencial)</div>
                </div>
            </div>
            <div class="smalltext"><div><sup>*</sup>Los horarios son a demanda: si te encaja mejor otro horario dínoslo y si hay suficiente gente se abre un nuevo grupo ;)</div></div>
        </section>
        
        <section>
            <h3>Beneficios de preparar el First en Yes! La Academia:</h3>
            <div class="checkmarksContainer">
                <div><i class="icon size-24 icon-landing-checkmark"></i> Profesorado especializado y clases reducidas (máximo 9 alumnos).</div>
                <div><i class="icon size-24 icon-landing-checkmark"></i> Si no apruebas el examen después del curso, tendrás 2 meses de clases gratuitas para volver a prepararlo.</div>
                <div><i class="icon size-24 icon-landing-checkmark"></i> Matrícula y material incluído en el precio.</div>
            </div>
        </section>
        
        <section>
            <h3>Requisitos para apuntarte al curso:</h3>
            <div class="readThisContainer">
                <div class="readThis">
                    <div>READ</div>
                    <div>THIS</div>
                    <div class="icon icon-landing-arrow-right-red"></div>
                </div>
                <p>
                    Debes cumplir al menos uno de estos dos requisitos:<br/>
                    - Tener un nivel B1 alto como mínimo.<br/>
                    - Conocer los exámenes de Cambridge o haberte presentado y no haber aprobado.
                </p>
            </div>
        </section>
    </div>
    
    <section>
        <div class="responsive-container">
            <h2 class="text-center">¡Este año SÍ vas a aprender inglés!</h2>
        </div>
        <div class="fullImage">
            <div class="responsive-container">
                <div class="button" (click)="onClickSuperButton()">Quiero aprobar<br/>el First</div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="responsive-container">
            <h3>Fotos de Yes! La Academia:</h3>
        </div>
        <app-image-carrousel [images]="yesImages"></app-image-carrousel>
    </section>
</div>
