<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-column justify-content-between" id="navbarFirst">
  <div class="container d-flex justify-content-center align-items-start">
    <a class="navbar-brand mt-3" [routerLink]="['']">
      <img src="../../assets/public/images/logo.png" alt="headerlogo" height="30">
    </a>

    <div class="collapse navbar-collapse" id="navbarNavMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-4">
          <a class="nav-link" [routerLink]="['']">{{"Quiénes Somos" | uppercase}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" [routerLink]="['']">{{"Contacto" | uppercase}}</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!request.user" class="nav-link" [routerLink]="['']">{{"Iniciar Sesión" | uppercase}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarSecond">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavMenu2" aria-controls="navbarNavMenu2"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container d-flex justify-content-center p-0">
    <div class="collapse navbar-collapse" id="navbarNavMenu2">
      <ul class="w-100 navbar-nav d-flex justify-content-around">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']">{{"First Certificate" | uppercase}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']">{{"Advanced" | uppercase}}</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!request.user" class="nav-link" [routerLink]="['']">{{"Inglés Nível B2" | uppercase}}</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!request.user" class="nav-link" [routerLink]="['']">{{"Inglés Nível C1" | uppercase}}</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!request.user" class="nav-link" [routerLink]="['']">TOEFL</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!request.user" class="nav-link" [routerLink]="['']">IELTS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
