#navbarFirst {
  background-color: #C8102E !important;
  li {
    font-size: 1.0em;
  }
  a {
    color: #ffffff !important;
  }
}

#navbarSecond {
  padding: 0 0 5px 0;
  background-color: #C8102E !important;
  box-shadow: inset 0px 3px 5px #00000062;
  border-bottom: 2px solid lightgrey;
  li {
    padding: 13px 0 8px 0;
    font-size: 1.0em;
    color: #ffffff !important;
    a {
      color: #ffffff !important;
    }
    &:hover {
      padding: 9px 0;
      background-color: #C8102E;
      box-shadow: 0px 3px 5px #00000062;
      a{
        color: #ffffff !important;
      }
    }
  }
}

.navbar-brand {
  font-size: 2em;
}
