<header [ngClass]="{'absolute': isHome, 'mobileOpened': isMobileNavVisible}">
    <div class="responsive-container-header">
        <nav id="navbarTop">
            <a class="logo" [routerLink]="['']">
                <img [hidden]="!isHome" src="../../assets/public/images/logo_white.png" alt="logo" height="28" />
                <img [hidden]="isHome" src="../../assets/public/images/logo_red.png" alt="logo" height="28" />
            </a>

            <div class="logo-mobile" (click)="isMobileNavVisible = !isMobileNavVisible">
                <img [hidden]="!isHome || isMobileNavVisible" src="../../assets/public/images/logo_white.png" alt="logo" height="28" />
                <img [hidden]="isHome && !isMobileNavVisible" src="../../assets/public/images/logo_red.png" alt="logo" height="28" />

                <div class="mobile-nav-button noselect" [ngClass]="{'isHome': isHome && !isMobileNavVisible}">
                    <i class="icon size-12" [ngClass]="{'icon-arrow-down': !isMobileNavVisible, 'icon-arrow-down-red': isMobileNavVisible, 'icon-arrow-down-white': isHome && !isMobileNavVisible }"></i>
                    <div class="title">MENU</div>
                </div>
            </div>
            <nav id="mobile-nav">
                <div>
                    <a [routerLink]="['']" (click)="isMobileNavVisible = false">Inicio</a>
                </div>
                <div class="separator"></div>
                <div class="nav-course-items">
                    <div class="title">Certificados</div>
                    <a class="nav-course-item" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'first' }" (click)="isMobileNavVisible = false">First Certificate</a>
                    <a class="nav-course-item" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'advanced' }" (click)="isMobileNavVisible = false">Advanced</a>
                    <a class="nav-course-item" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'toefl' }" (click)="isMobileNavVisible = false">TOEFL</a>
                    <a class="nav-course-item" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'ielts' }" (click)="isMobileNavVisible = false">IELTS</a>
                    <a class="nav-course-item" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'toeic' }" (click)="isMobileNavVisible = false">TOEIC</a>
                    <a class="nav-course-item" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'proficiency' }" (click)="isMobileNavVisible = false">Proficiency</a>
                    <div class="title">Mejorar tu inglés</div>
                    <a class="nav-course-item" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'objetivo b1' }" (click)="isMobileNavVisible = false">Nivel B1</a>
                    <a class="nav-course-item" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'objetivo b2' }" (click)="isMobileNavVisible = false">Nivel B2</a>
                    <a class="nav-course-item" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'objetivo c1' }" (click)="isMobileNavVisible = false">Nivel C1</a>
                </div>
                <div class="separator"></div>
                <div>
                    <a class="icon-text" href="https://wa.me/34677827178" target="_blank">
                        <i class="icon size-16 icon-whatsapp"></i>
                        <p>689 438 538</p>
                    </a>
                    <!--<div class="icon-text cursor-pointer">
                        <i class="icon size-16 icon-user"></i>
                        <p>Iniciar sesión</p>
                    </div>-->
                </div>
            </nav>

            <div class="right">
                <a class="icon-text" href="https://wa.me/34677827178" target="_blank">
                    <i class="icon size-16" [ngClass]="{'icon-whatsapp': !isHome, 'icon-whatsapp-white': isHome}"></i>
                    <p>677 827 178</p>
                </a>
                <!--<div class="icon-text cursor-pointer">
                    <i class="icon size-16" [ngClass]="{'icon-user': !isHome, 'icon-user-white': isHome}"></i>
                    <p>Iniciar sesión</p>
                </div>-->
            </div>
        </nav>

        <nav id="navbarBottom">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'first' }" (click)="isMobileNavVisible = false">First Certificate</a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'advanced' }" (click)="isMobileNavVisible = false">Advanced</a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'objetivo b1' }" (click)="isMobileNavVisible = false">Nivel B1</a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'objetivo b2' }" (click)="isMobileNavVisible = false">Nivel B2</a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'objetivo c1' }" (click)="isMobileNavVisible = false">Nivel C1</a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'toefl' }" (click)="isMobileNavVisible = false">TOEFL</a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'ielts' }" (click)="isMobileNavVisible = false">IELTS</a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'toeic' }" (click)="isMobileNavVisible = false">TOEIC</a>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['search']" [queryParams]="{ course: 'proficiency' }" (click)="isMobileNavVisible = false">Proficiency</a>
        </nav>
    </div>
</header>
