<div class="gallery noselect">
    <div class="left-area" *ngIf="(images != null && images.length > 0)">
        <i class="icon size-42 icon-arrow-left-white"></i>
    </div>
    <div class="right-area" *ngIf="(images != null && images.length > 0)">
        <i class="icon size-42 icon-arrow-right-white"></i>
    </div>

    <div class="background" [style.backgroundImage]="'url(' + currentGalleryImage + ')'">
        <div *ngIf="(images != null && images.length > 0)" class="overlay"></div>
    </div>

    <div class="gallery-items">
        <div class="gallery-item" *ngFor="let image of images; let last = last">
            {{ onGalleryLoopFinished(last) }}
            <div class="image" [style.backgroundImage]="'url(' + image + ')'"></div>
        </div>
    </div>
</div>
