@import '../../../sass/abstracts/variables.scss';

/* Customize the label (the container) */
.checkboxContainer {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 22px;
    height: 22px;
    margin-bottom: 0;
    
    &.red
    {
        input:checked ~ .checkmark
        {
          background-color: $red-color;
          border-color: $red-color;
        }
    }
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.12);
}

/* On mouse-over, add a white background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a $green-color background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: $green-color;
  border-color: #339997;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
