<div class="form full-width">
    <form>
      <div class="form-group">
        <label for="exampleInputtitle">Nombre del curso</label>
        <input type="text" class="form-control" [(ngModel)]="title" name="title" id="exampleInputtitle" aria-describedby="titleHelp">
      </div>
      <div class="form-group">
          <label for="exampleInputhours">Numero de horas</label>
          <input type="number" class="form-control" [(ngModel)]="hours" name="hours" id="exampleInputhours" aria-describedby="hoursHelp">
        </div>
      <div class="form-group">
        <label for="exampleInputPrice">Precio</label>
        <input type="number" class="form-control" [(ngModel)]="price" name="price" id="exampleInputPrice">
      </div>
      <div class="form-group">
        <label for="exampleInputOldPrice">Precio tachado</label>
        <input type="number" class="form-control" [(ngModel)]="oldPrice" name="oldprice" id="exampleInputOldPrice">
      </div>
      <div class="form-group">
        <label for="exampleInputStartdate">Fecha de inicio</label>
        <input class="form-control" [(ngModel)]="startDate" name="startdate" id="exampleInputStartdate" placeholder="dd/mm/aaaa">
      </div>
      <!--<div class="form-group">
        <label for="exampleInputDescription">Descripción del curso</label>
        <input type="text" class="form-control" [(ngModel)]="description" name="description" id="exampleInputPhone" placeholder="Descripción del curso">
      </div>
      <div class="form-group">
        <label for="exampleInputsizeclass">Alumnos por clase</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" id="exampleInputsizeclass" placeholder="Número de alumnos por clase">
      </div>
      <label for="exampleInputTags">Etiquetas</label>
      <select multiple class="form-control" id="exampleInputTags">
          <option>First Certificate</option>
          <option>Advanced</option>
          <option>Inglés nivel B2</option>
          <option>Inglés nivel C1</option>
          <option>TOEFL</option>
          <option>IELTS</option>
      </select>-->

      <div class="button full-width" (click)="updateCourse()">Guardar curso</div>
    </form>
</div>
