<div class="form full-width">
    <form>
      <div class="form-group">
        <label>Nombre del curso</label>
        <input type="text" class="form-control" [(ngModel)]="title" name="title">
      </div>
      <div class="form-group-container">
          <div class="form-group">
            <label>Duración</label>
            <input type="text" class="form-control" [(ngModel)]="duration" name="duration">
          </div>
          <div class="form-group">
              <label>Numero de horas</label>
              <input type="number" class="form-control" [(ngModel)]="hours" name="hours">
          </div>
      </div>
      <div class="form-group-container">
          <div class="form-group">
            <label>Precio</label>
            <input type="number" class="form-control" [(ngModel)]="price" name="price">
          </div>
          <div class="form-group">
            <label>Precio tachado</label>
            <input type="number" class="form-control" [(ngModel)]="oldPrice" name="oldprice">
          </div>
      </div>
      <div class="form-group-container">
          <div class="form-group">
            <label>Fecha de inicio</label>
            <input class="form-control" [(ngModel)]="startDate" name="startdate" placeholder="dd/mm/aaaa">
          </div>
          <div class="form-group">
            <label>Completo</label>
            <div class="checkboxContainer">
                <app-checkbox [red]="true" [checked]="isBooked" (onChange)="onChangeIsBooked($event)"></app-checkbox>
            </div>
          </div>
      </div>
      <!--<div class="form-group">
        <label for="exampleInputDescription">Descripción del curso</label>
        <input type="text" class="form-control" [(ngModel)]="description" name="description" id="exampleInputPhone" placeholder="Descripción del curso">
      </div>
      <div class="form-group">
        <label for="exampleInputsizeclass">Alumnos por clase</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" id="exampleInputsizeclass" placeholder="Número de alumnos por clase">
      </div>
      <label for="exampleInputTags">Etiquetas</label>
      <select multiple class="form-control" id="exampleInputTags">
          <option>First Certificate</option>
          <option>Advanced</option>
          <option>Inglés nivel B2</option>
          <option>Inglés nivel C1</option>
          <option>TOEFL</option>
          <option>IELTS</option>
      </select>-->

      <div class="button full-width noshadow" (click)="updateCourse()">{{ (courses != null && courses.length > 1) ? 'Actualizar cursos' : 'Guardar curso' }}</div>
    </form>
</div>
