<div *ngIf="false" class="whatsappBanner">
    <div class="responsive-container">
        <div class="title"><div class="dot-pulse"></div><div>COVID-19: Todos los cursos se imparten online.</div></div>
    </div>
</div>

<div class="search-view-container" [ngClass]="{ 'showingFilterButton': shouldShowMobileFilterButton() }">
    <div class="search-view" [ngClass]="{ 'mobileFiltersVisible': showMobileFilters, 'fixed': fixedFilters, 'show': showFixedFilters }">
        <div class="filterButtonContainer responsive-container" *ngIf="shouldShowMobileFilterButton()">
            <div
                id="filterButton" 
                class="noselect card-banner"
                (click)="toggleMobileFilters()"
            >
                <div class="icon size-20 icon-filter"></div>
                <div class="title">Filtrar búsqueda</div>
                <i class="icon size-12 icon-arrow-down"></i>
            </div>
        </div>
        
        <div class="filterPillsContainer responsive-container" *ngIf="!shouldShowMobileFilterButton()">
            <div id="filterPills">
                <div class="filterPill green noselect" [ngClass]="{ 'selected': appliedModality === 'presencial' || appliedModality === 'online' }" (click)="toggleModalityFilters()">
                    <div class="icon size-16 icon-filter-green"></div>
                    <span>Elegir modalidad</span>
                    <i class="icon size-10 icon-arrow-down" [ngClass]="{'rotate': showModalityFilters}"></i>
                </div>
                
                <div
                    class="filterPill green noselect"
                    [ngClass]="{'selected': appliedNeighborhoods.length > 0 || appliedCity != null, 'active': showNeighborhoodFilters}"
                    (click)="toggleNeighborhoodFilters()"
                >
                    <div class="icon size-16 icon-location-green"></div>
                    <span>Seleccionar ubicaciones</span>
                    <i class="icon size-10 icon-arrow-down" [ngClass]="{'rotate': showNeighborhoodFilters}"></i>
                </div>
                
                <div class="filterPillContainer">
                    <div class="filterPill green noselect" (click)="toggleOrderFilters()">
                        <div class="icon size-16 icon-order-green"></div>
                        <span>Ordenar&nbsp;por</span>
                        <i class="icon size-10 icon-arrow-down" [ngClass]="{'rotate': showOrderFilters}"></i>
                    </div>
                    
                    <div class="mobileFilters" [ngClass]="{ 'visible': showOrderFilters }">
                        <div class="content">
                            <div class="section">
                                <div class="title">Ordenar por</div>
                                <div class="orders">
                                    <div class="order noselect">
                                        <app-checkbox
                                            inputId="order-1"
                                            [checked]="selectedOrder === 1"
                                            [disabled]="selectedOrder === 1"
                                            (onChange)="selectedOrder = 1"
                                        ></app-checkbox>
                                        <label for="order-1"><span class="color-green fw-600">Valoración:</span> mejor valorado arriba</label>
                                    </div>
                                    <div class="order noselect">
                                        <app-checkbox
                                            inputId="order-2"
                                            [checked]="selectedOrder === 2"
                                            [disabled]="selectedOrder === 2"
                                            (onChange)="selectedOrder = 2"
                                        ></app-checkbox>
                                        <label for="order-2"><span class="color-green fw-600">Precio:</span> más barato arriba</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="buttons">
                            <div class="button green light-shadow full-width medium" (click)="onClickApplyOrderFilter()">Aplicar filtros</div>
                            <div class="button simple full-width" (click)="toggleOrderFilters()">Cancelar</div>
                        </div>
                    </div>
                </div>
                
                <!--<div class="filterPill noselect" *ngFor="let neighborhood of appliedNeighborhoods">
                    <span>{{ neighborhood }}</span>
                    <i nz-icon nzType="close" nzTheme="outline" (click)="onChangeNeighborhoodFilter(neighborhood, false, true)"></i>
                </div>-->
            </div>
        </div>
        
        <div class="filtersContainer responsive-container">
            <div class="mobileFilters" [ngClass]="{ 'visible': showNeighborhoodFilters }">
                <div class="content">
                    <div class="section">
                        <div class="title">Seleccionar <span class="color-green">Ubicaciones</span></div>
                        
                        <div class="cities">
                            <div
                                class="city noselect"
                                *ngFor="let city of cities"
                                (click)="onClickCity(city)"
                                [ngClass]="{ 'selected': selectedCity == city }"
                            >
                                {{ city.name }}
                            </div>
                        </div>
                        
                        <div class="neighborhoods" *ngIf="neighborhoods.length > 0">
                            <div class="neighborhood noselect" *ngFor="let neighborhood of neighborhoods; let i = index">
                                <app-checkbox
                                    [inputId]="'neighborhood-' + (i+1)"
                                    [checked]="isNeighborhoodSelected(neighborhood)"
                                    (onChange)="onChangeNeighborhoodFilter(neighborhood, $event)"
                                ></app-checkbox>
                                <label [for]="'neighborhood-' + (i+1)">{{ neighborhood.name }}</label>
                            </div>
                        </div>
                    </div>
                    
                    <!--<div class="section">
                        <div class="title">Ordenar por</div>
                        <div class="orders">
                            <div class="order noselect">
                                <app-checkbox
                                    inputId="order-1"
                                    [checked]="currentOrder === 1"
                                    [disabled]="currentOrder === 1"
                                    (onChange)="currentOrder = 1"
                                ></app-checkbox>
                                <label for="order-1"><span class="color-green fw-600">Valoración:</span> mejor valorado arriba</label>
                            </div>
                            <div class="order noselect">
                                <app-checkbox
                                    inputId="order-2"
                                    [checked]="currentOrder === 2"
                                    [disabled]="currentOrder === 2"
                                    (onChange)="currentOrder = 2"
                                ></app-checkbox>
                                <label for="order-2"><span class="color-green fw-600">Precio:</span> más barato arriba</label>
                            </div>
                        </div>
                    </div>-->
                </div>
                
                <div class="buttons">
                    <div class="button green light-shadow full-width medium" (click)="onClickApplyFilterNeighborhoods()">Aplicar filtros</div>
                    <div class="button simple full-width" (click)="toggleNeighborhoodFilters()">Cancelar</div>
                </div>
            </div>
        </div>
        
        <div class="filtersContainer responsive-container">
            <div class="mobileFilters" [ngClass]="{ 'visible': showModalityFilters }">
                <div class="content">
                    <div class="section">
                        <div class="title">Seleccionar <span class="color-green">Modalidad</span></div>
                        
                        <div class="orders">
                            <div class="order noselect">
                                <app-checkbox
                                    inputId="modality-1"
                                    [checked]="selectedModality === 'presencial'"
                                    [disabled]="selectedModality === 'presencial'"
                                    (onChange)="selectedModality = 'presencial'"
                                ></app-checkbox>
                                <label for="modality-1">Presencial</label>
                            </div>
                            <div class="order noselect">
                                <app-checkbox
                                    inputId="modality-2"
                                    [checked]="selectedModality === 'online'"
                                    [disabled]="selectedModality === 'online'"
                                    (onChange)="selectedModality = 'online'"
                                ></app-checkbox>
                                <label for="modality-2">Online</label>
                            </div>
                            <div class="order noselect">
                                <app-checkbox
                                    inputId="modality-3"
                                    [checked]="selectedModality == null"
                                    [disabled]="selectedModality == null"
                                    (onChange)="selectedModality = null"
                                ></app-checkbox>
                                <label for="modality-3">Mostrar todos</label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="buttons">
                    <div class="button green light-shadow full-width medium" (click)="onClickApplyModalityFilter()">Aplicar filtros</div>
                    <div class="button simple full-width" (click)="toggleModalityFilters()">Cancelar</div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="responsive-container">
    <div class="title-view" *ngIf="courses.length !== 0">
        <h1>Las mejores academias de <span class="fw-700">{{ commonCategoryFullName ? commonCategoryFullName : (searchCategory ? searchCategory : 'inglés') }}</span> cerca de ti</h1>
    </div>

    <div>
        <div *ngIf="!searching && courses.length === 0">
            <h3>No hay cursos para esta búsqueda</h3>
        </div>

        <div class="spinner" [hidden]="!searching"></div>

        <div id="results" *ngIf="courses.length !== 0" [hidden]="searching">
            <div class="course-item-container" *ngFor="let course of courses">
                <app-course-card [course]="course"></app-course-card>
            </div>
        </div>
    </div>
</div>
