@import '../abstracts/variables';

.container {
  max-width: 1920px;
}

.btest {
  border: 1px solid #000000;
}

ngb-rating {
  &:focus {
    outline: none;
  }
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
